/****************************************************************************


DecisionDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "DecisionDialog.rh"

IDD_DECISION DIALOG 0, 76, 420, 195
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "R1 Age", IDC_R1CHK, "button", BS_CHECKBOX | BS_BOTTOM | WS_CHILD | WS_VISIBLE, 261, 3, 41, 8, 0
 CONTROL "R2 SIC", IDC_R2CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 261, 10, 39, 8, 0
 CONTROL "R3 Chk Num", IDC_R3CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 261, 18, 56, 8, 0
 CONTROL "R4 Chk Seq", IDC_R4CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 261, 26, 54, 8, 0
 CONTROL "R5 Sgl Chk", IDC_R5CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 261, 34, 51, 8, 0
 CONTROL "R6 Out State", IDC_R6CHK, "button", BS_CHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE, 261, 42, 57, 8, 0
 CONTROL "R7 Activity", IDC_R7CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 261, 50, 49, 8, 0
 CONTROL "R8 Out Reg", IDC_R8CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 261, 58, 52, 8, 0
 CONTROL "", IDC_BANKNAME, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 241, 127, 128, 13, 0
 CONTROL "", IDC_BANKPHONE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 370, 127, 48, 13, 0
 CONTROL "", IDC_BANKCOMMENT, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 241, 141, 158, 13, 0
 CONTROL "Verified Good", IDC_BVGOODBTN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 154, 59, 13, 0
 CONTROL "Insuf Funds", IDC_BVIFBTN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 166, 52, 9, 0
 CONTROL "Opened", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 291, 166, 28, 9, 0
 CONTROL "", IDC_BVACCTOPENDATE, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 319, 163, 37, 12, 0
 CONTROL "Avg", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 359, 165, 16, 13, 0
 CONTROL "", IDC_BVAVGBAL, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 376, 163, 26, 12, 0
 CONTROL "Account Closed", IDC_BVCLOSEDBTN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 177, 62, 9, 0
 CONTROL "", IDC_BVACCTCLOSEDDATE, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 302, 177, 37, 12, 0
 CONTROL "Unverifiable", IDC_BVUNVERIFYBTN, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 187, 60, 9, 0
 CONTROL "Approve", IDC_APPROVEBTN, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 342, 2, 56, 13
 CONTROL "Decline", IDC_BVDECLINE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 342, 17, 56, 13, 0
 CONTROL "Score", IDC_BVUNVBTN, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 342, 32, 56, 13, 0
 CONTROL "BANK", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 242, 115, 23, 9, 0
 CONTROL "Date           Merch    Amt      Cknum     BV    Response", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 3, 176, 10, 0
 CONTROL "", IDC_ACT1DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 1, 14, 36, 13, 0
 CONTROL "", IDC_ACT1MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 14, 29, 13, 0
 CONTROL "", IDC_ACT1CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 14, 29, 13, 0
 CONTROL "", IDC_ACT1AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 66, 14, 24, 13, 0
 CONTROL "", IDC_ACT1BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 119, 14, 16, 13, 0
 CONTROL "", IDC_ACT1RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 135, 14, 73, 13, 0
 CONTROL "", IDC_CK1DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 94, 35, 13, 0
 CONTROL "", IDC_CK1MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 94, 74, 13, 0
 CONTROL "", IDC_CK1AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 111, 94, 34, 13, 0
 CONTROL "", IDC_CK1CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 145, 94, 28, 13, 0
 CONTROL "Date           Merchant                      Amount    Cknum  Type", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 82, 188, 10, 0
 CONTROL "", IDC_CK1TYPE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 94, 15, 13, 0
 CONTROL "", IDC_ACT2DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 1, 27, 36, 13, 0
 CONTROL "", IDC_ACT3DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 1, 40, 36, 13, 0
 CONTROL "", IDC_ACT4DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 1, 53, 36, 13, 0
 CONTROL "", IDC_ACT5DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 1, 66, 36, 13, 0
 CONTROL "", IDC_ACT2MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 27, 29, 13, 0
 CONTROL "", IDC_ACT3MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 40, 29, 13, 0
 CONTROL "", IDC_ACT4MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 53, 29, 13, 0
 CONTROL "", IDC_ACT5MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 66, 29, 13, 0
 CONTROL "", IDC_ACT2AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 66, 27, 24, 13, 0
 CONTROL "", IDC_ACT3AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 66, 40, 24, 13, 0
 CONTROL "", IDC_ACT4AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 66, 53, 24, 13, 0
 CONTROL "", IDC_ACT5AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 66, 66, 24, 13, 0
 CONTROL "", IDC_ACT2CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 27, 29, 13, 0
 CONTROL "", IDC_ACT3CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 40, 29, 13, 0
 CONTROL "", IDC_ACT4CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 53, 29, 13, 0
 CONTROL "", IDC_ACT5CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 90, 66, 29, 13, 0
 CONTROL "", IDC_ACT2BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 119, 27, 16, 13, 0
 CONTROL "", IDC_ACT3BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 119, 40, 16, 13, 0
 CONTROL "", IDC_ACT4BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 119, 53, 16, 13, 0
 CONTROL "", IDC_ACT5BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 119, 66, 16, 13, 0
 CONTROL "", IDC_ACT2RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 135, 27, 73, 13, 0
 CONTROL "", IDC_ACT3RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 135, 40, 73, 13, 0
 CONTROL "", IDC_ACT4RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 135, 53, 73, 13, 0
 CONTROL "", IDC_ACT5RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 135, 66, 73, 13, 0
 CONTROL "", IDC_CK2DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 107, 35, 13, 0
 CONTROL "", IDC_CK3DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 121, 35, 13, 0
 CONTROL "", IDC_CK2MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 107, 74, 13, 0
 CONTROL "", IDC_CK3MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 121, 74, 13, 0
 CONTROL "", IDC_CK2AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 111, 107, 34, 13, 0
 CONTROL "", IDC_CK3AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 111, 121, 34, 13, 0
 CONTROL "", IDC_CK2CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 145, 107, 28, 13, 0
 CONTROL "", IDC_CK3CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 145, 121, 28, 13, 0
 CONTROL "", IDC_CK2TYPE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 107, 15, 13, 0
 CONTROL "", IDC_CK3TYPE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 121, 15, 13, 0
 CONTROL "UpDown1", IDC_ACT_UPDOWN, "msctls_updown32", WS_CHILD | NOT WS_VISIBLE | WS_DISABLED, 237, 30, 11, 26, 0
 CONTROL "UpDown2", IDC_CHK_UPDOWN, "msctls_updown32", WS_CHILD | NOT WS_VISIBLE | WS_DISABLED, 216, 99, 11, 26, 0
 CONTROL "", IDC_BVABA, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 265, 113, 41, 13, 0
 CONTROL " ", IDC_BVACCOUNT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 317, 113, 70, 13, 0
 CONTROL "", IDC_BVRESPTEXT, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 57, 91, 13, 0
 CONTROL "Response", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 328, 47, 35, 9, 0
 CONTROL "3 Days  #", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 253, 73, 32, 11, 0
 CONTROL "8 Days  #", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 254, 87, 32, 11, 0
 CONTROL "+8 Days  #", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 250, 99, 36, 11, 0
 CONTROL "", IDC_BVPER1NUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 287, 72, 16, 13, 0
 CONTROL "", IDC_BVPER2NUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 287, 85, 16, 13, 0
 CONTROL "", IDC_BVPER3NUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 287, 98, 16, 13, 0
 CONTROL "", IDC_BVPER1AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 313, 72, 28, 13, 0
 CONTROL " ", IDC_BVPER2AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 313, 85, 28, 13, 0
 CONTROL "", IDC_BVPER3AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 313, 98, 28, 13, 0
 CONTROL "Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 362, 98, 16, 13, 0
 CONTROL "", IDC_BVAGE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 380, 98, 15, 13, 0
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 352, 74, 27, 13, 0
 CONTROL "", IDC_BVAMOUNT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 380, 72, 27, 13, 0
 CONTROL "Chknum", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 351, 86, 28, 13, 0
 CONTROL "", IDC_BVCHKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 380, 85, 27, 13, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 305, 72, 6, 13, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 305, 85, 6, 13, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 305, 99, 6, 13, 0
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 194, 82, 12, 10, 0
 CONTROL "", IDC_ACT1IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 208, 14, 25, 13, 0
 CONTROL "", IDC_CK2IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 188, 107, 25, 13, 0
 CONTROL "", IDC_CK3IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 188, 121, 25, 13, 0
 CONTROL "CHG", IDC_CHANGEBUTTON, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 394, 113, 19, 12, 0
 CONTROL "#", 197, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 309, 114, 8, 11, 0
 CONTROL "", IDC_CK1IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 188, 94, 25, 13, 0
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 210, 3, 13, 10, 0
 CONTROL "", IDC_ACT2IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 208, 27, 25, 13, 0
 CONTROL "", IDC_ACT3IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 208, 40, 25, 13, 0
 CONTROL "", IDC_ACT4IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 208, 53, 25, 13, 0
 CONTROL "", IDC_ACT5IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 208, 66, 25, 13, 0
 CONTROL "", IDC_COMMENTBOX, "edit", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 2, 167, 222, 26, 0
 CONTROL "Comment", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 158, 36, 9, 0
 CONTROL "Mother's Maiden Name", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 144, 73, 9
 CONTROL "", IDC_MOTHERSNAME, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 143, 137, 13
}

