/****************************************************************************


AuthRulesDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "AuthRulesDialog.rh"


IDD_RULES DIALOG 0, 60, 422, 223
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_R3AgeReferAge3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 56, 12, 12, 0
 CONTROL "", IDC_R3AgeReferAge4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 68, 12, 12, 0
 CONTROL "", IDC_R3AgeReferNum3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 56, 24, 12, 0
 CONTROL "", IDC_R3AgeReferNum4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 68, 24, 12, 0
 CONTROL "", IDC_R3AgeReferNum3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 56, 24, 12, 0
 CONTROL "", IDC_R3AgeReferNum4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 68, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAmt3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 56, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAmt4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 68, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAmt3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 56, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAmt4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 68, 24, 12, 0
 CONTROL "", IDC_R3ReferNum3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 56, 24, 12, 0
 CONTROL "", IDC_R3ReferNum4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 68, 24, 12, 0
 CONTROL "", IDC_R3ReferNum3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 56, 24, 12, 0
 CONTROL "", IDC_R3ReferNum4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 68, 24, 12, 0
 CONTROL "", IDC_R3ReferAmt3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 56, 24, 12, 0
 CONTROL "", IDC_R3ReferAmt4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 68, 24, 12, 0
 CONTROL "", IDC_R3ReferAmt3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 56, 24, 12, 0
 CONTROL "", IDC_R3ReferAmt4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 68, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAge3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 107, 12, 12, 0
 CONTROL "", IDC_R3AgeOvrdAge4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 119, 12, 12, 0
 CONTROL "", IDC_R3AgeOvrdNum3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 107, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdNum4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 119, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdNum3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 107, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdNum4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 119, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAmt3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 107, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAmt4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 119, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAmt3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 107, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAmt4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 119, 24, 12, 0
 CONTROL "", IDC_R3OvrdNum3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 107, 24, 12, 0
 CONTROL "", IDC_R3OvrdNum4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 119, 24, 12, 0
 CONTROL "", IDC_R3OvrdNum3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 107, 24, 12, 0
 CONTROL "", IDC_R3OvrdNum4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 119, 24, 12, 0
 CONTROL "", IDC_R3OvrdAmt3From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 107, 24, 12, 0
 CONTROL "", IDC_R3OvrdAmt4From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 119, 24, 12, 0
 CONTROL "", IDC_R3OvrdAmt3To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 107, 24, 12, 0
 CONTROL "", IDC_R3OvrdAmt4To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 119, 24, 12, 0
 CONTROL "", IDC_CountableAmt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 32, 17, 24, 12
 CONTROL "", IDC_CountableAccum, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 17, 24, 12
 CONTROL "", IDC_R1ReferAge1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 6, 79, 13, 12
 CONTROL "", IDC_R1ReferAmt1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 25, 79, 24, 12
 CONTROL "", IDC_R1OvrdAge1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 65, 79, 13, 12
 CONTROL "", IDC_R1OvrdAmt1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 85, 79, 24, 12
 CONTROL "", IDC_R1ReferAge2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 6, 91, 13, 12
 CONTROL "", IDC_R1ReferAmt2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 25, 91, 24, 12
 CONTROL "", IDC_R1OvrdAge2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 65, 91, 13, 12
 CONTROL "", IDC_R1OvrdAmt2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 85, 91, 24, 12
 CONTROL "", IDC_R2Sic1Trans, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 143, 16, 12
 CONTROL "", IDC_R2Sic1Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 143, 16, 12
 CONTROL "", IDC_R2Sic1Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 143, 24, 12
 CONTROL "", IDC_R2Sic2Trans, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 155, 16, 12
 CONTROL "", IDC_R2Sic2Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 155, 16, 12
 CONTROL "", IDC_R2Sic2Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 155, 24, 12
 CONTROL "", IDC_R2Acct1Trans, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 169, 16, 12
 CONTROL "", IDC_R2Acct1Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 169, 16, 12
 CONTROL "", IDC_R2Acct1Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 169, 24, 12
 CONTROL "", IDC_R2Acct2Trans, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 181, 16, 12
 CONTROL "", IDC_R2Acct2Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 181, 16, 12
 CONTROL "", IDC_R2Acct2Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 181, 24, 12
 CONTROL "", IDC_R2Loc1Trans, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 195, 16, 12
 CONTROL "", IDC_R2Loc1Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 195, 16, 12
 CONTROL "", IDC_R2Loc1Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 195, 24, 12
 CONTROL "", IDC_R2Loc2Trans, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 47, 207, 16, 12
 CONTROL "", IDC_R2Loc2Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 207, 16, 12
 CONTROL "", IDC_R2Loc2Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 96, 207, 24, 12
 CONTROL "", IDC_R3AgeReferAge1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 32, 12, 12
 CONTROL "", IDC_R3AgeReferNum1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 32, 24, 12
 CONTROL "", IDC_R3AgeReferNum1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 32, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAmt1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 32, 24, 12
 CONTROL "", IDC_R3AgeReferAmt1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 32, 24, 12, 0
 CONTROL "", IDC_R3ReferNum1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 32, 24, 12
 CONTROL "", IDC_R3ReferNum1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 32, 24, 12, 0
 CONTROL "", IDC_R3ReferAmt1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 32, 24, 12
 CONTROL "", IDC_R3ReferAmt1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 32, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAge2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 44, 12, 12
 CONTROL "", IDC_R3AgeReferNum2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 44, 24, 12
 CONTROL "", IDC_R3AgeReferNum2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 44, 24, 12, 0
 CONTROL "", IDC_R3AgeReferAmt2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 44, 24, 12
 CONTROL "", IDC_R3AgeReferAmt2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 44, 24, 12, 0
 CONTROL "", IDC_R3ReferNum2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 44, 24, 12
 CONTROL "", IDC_R3ReferNum2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 44, 24, 12, 0
 CONTROL "", IDC_R3ReferAmt2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 44, 24, 12
 CONTROL "", IDC_R3ReferAmt2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 44, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAge1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 83, 12, 12
 CONTROL "", IDC_R3AgeOvrdNum1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 83, 24, 12
 CONTROL "", IDC_R3AgeOvrdNum1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 83, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAmt1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 83, 24, 12
 CONTROL "", IDC_R3AgeOvrdAmt1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 83, 24, 12, 0
 CONTROL "", IDC_R3OvrdNum1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 83, 24, 12
 CONTROL "", IDC_R3OvrdNum1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 83, 24, 12, 0
 CONTROL "", IDC_R3OvrdAmt1From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 83, 24, 12
 CONTROL "", IDC_R3OvrdAmt1To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 83, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAge2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 164, 95, 12, 12
 CONTROL "", IDC_R3AgeOvrdNum2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 180, 95, 24, 12
 CONTROL "", IDC_R3AgeOvrdNum2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 205, 95, 24, 12, 0
 CONTROL "", IDC_R3AgeOvrdAmt2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 235, 95, 24, 12
 CONTROL "", IDC_R3AgeOvrdAmt2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 260, 95, 24, 12, 0
 CONTROL "", IDC_R3OvrdNum2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 303, 95, 24, 12
 CONTROL "", IDC_R3OvrdNum2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 328, 95, 24, 12, 0
 CONTROL "", IDC_R3OvrdAmt2From, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 356, 95, 24, 12
 CONTROL "", IDC_R3OvrdAmt2To, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 381, 95, 24, 12, 0
 CONTROL "", IDC_R4FwdGap1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 163, 181, 16, 12
 CONTROL "", IDC_R4FwdDays1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 183, 181, 12, 12
 CONTROL "", IDC_R4FwdGap2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 163, 193, 16, 12
 CONTROL "", IDC_R4FwdDays2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 183, 193, 12, 12
 CONTROL "", IDC_R4FwdGap3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 163, 205, 16, 12
 CONTROL "", IDC_R4FwdDays3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 183, 205, 12, 12
 CONTROL "", IDC_R4BackGap, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 237, 182, 16, 12
 CONTROL "", IDC_R4BackDays, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 258, 182, 12, 12
 CONTROL "", IDC_R5Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 349, 160, 24, 12
 CONTROL "", IDC_R6Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 322, 208, 24, 12
 CONTROL "", IDC_R6Accum, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 383, 208, 24, 12
 CONTROL "SIC", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 27, 143, 15, 12
 CONTROL "Refer", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 140, 38, 22, 12
 CONTROL "Over Ride", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 140, 87, 19, 18
 CONTROL "Forward", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 131, 183, 29, 12
 CONTROL "Backward", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 201, 183, 35, 9
 CONTROL "Gap   Days", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 237, 173, 41, 9
 CONTROL "Gap    Days", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 162, 172, 44, 9
 CONTROL "MERCHANT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 169, 43, 12
 CONTROL "LOCATION", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 195, 39, 11
 CONTROL "Trans    Days    Accum $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 46, 134, 84, 9
 CONTROL "COUNTABLE ACTIVITY", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 4, 79, 10
 CONTROL "Accum $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 60, 18, 28, 10
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 19, 28, 9
 CONTROL "R3 - CHECK NUMBER", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 133, 4, 42, 16
 CONTROL "Refer", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 14, 61, 22, 9
 CONTROL "Override", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 69, 60, 29, 9
 CONTROL "Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 65, 69, 16, 9
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 85, 69, 33, 9
 CONTROL "Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 69, 17, 9
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 25, 69, 33, 9
 CONTROL "R1 - Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 40, 33, 9
 CONTROL "R4 - CHECK SEQUENCE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 130, 142, 41, 16
 CONTROL "R2 - SIC ACTIVITY", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 116, 33, 18
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 127, 0, 1, 225
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 319, 160, 26, 9
 CONTROL "R5 - SINGLE CHECK", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 138, 43, 16
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 291, 208, 26, 10
 CONTROL "Accum $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 350, 208, 31, 9
 CONTROL "R6 - OUT OF STATE ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 285, 183, 46, 16
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 280, 133, 1, 92
 CONTROL "Frame3", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 33, 127, 1
 CONTROL "Frame4", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 108, 127, 1
 CONTROL "Frame5", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 128, 133, 154, 1
 CONTROL "Frame6", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 280, 133, 142, 1
 CONTROL "Frame7", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 281, 177, 140, 1
 CONTROL "", IDC_R6Enable, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 333, 186, 11, 11, WS_EX_CLIENTEDGE
 CONTROL "Age", 213, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 163, 22, 17, 9, 0
 CONTROL "From", 214, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 182, 22, 17, 9, 0
 CONTROL "To", 215, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 209, 22, 13, 9, 0
 CONTROL "From", 216, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 238, 22, 19, 9, 0
 CONTROL "To", 217, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 266, 22, 12, 9, 0
 CONTROL "From", 218, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 304, 22, 19, 9, 0
 CONTROL "To", 219, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 330, 22, 13, 9, 0
 CONTROL "From", 220, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 358, 22, 19, 9, 0
 CONTROL "To", 221, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 383, 22, 13, 9, 0
 CONTROL "Check Number", 222, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 177, 14, 49, 9, 0
 CONTROL "Amount", 223, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 240, 14, 28, 9, 0
 CONTROL "Amount", 224, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 360, 14, 28, 9, 0
 CONTROL "Check Number", 225, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 14, 49, 9, 0
}

IDD_RULES2 DIALOG 0, 60, 422, 223
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_R7DailyNum, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 7, 54, 12, 12
 CONTROL "", IDC_R7DailyAmt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 27, 54, 24, 12
 CONTROL "", IDC_R7Per1Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 53, 12, 12
 CONTROL "", IDC_R7Per1Num, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 84, 53, 12, 12
 CONTROL "", IDC_R7Per1Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 103, 53, 24, 12
 CONTROL "", IDC_R7Per2Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 65, 12, 12
 CONTROL "", IDC_R7Per2Num, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 84, 65, 12, 12
 CONTROL "", IDC_R7Per2Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 103, 65, 24, 12
 CONTROL "", IDC_R7Per3Days, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 77, 12, 12
 CONTROL "", IDC_R7Per3Num, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 84, 77, 12, 12
 CONTROL "", IDC_R7Per3Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 103, 77, 24, 12
 CONTROL "", IDC_R8Amt, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 38, 133, 24, 12
 CONTROL "", IDC_R8Accum, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 99, 133, 24, 12
 CONTROL "Trans  Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 43, 49, 9
 CONTROL "Days Trans  Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 63, 42, 64, 9
 CONTROL "Periods", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 34, 35, 9
 CONTROL "Daily", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 34, 19, 8
 CONTROL "R7 - ACTIVITY", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 11, 50, 9
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 134, 26, 10
 CONTROL "Accum $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 67, 134, 30, 9
 CONTROL "R8 - OUT OF REGION CHECK", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 102, 56, 17
 CONTROL "Date/Time", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 87, 7, 38, 9
 CONTROL "Product", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 94, 16, 29, 9
 CONTROL "Date/Time", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 87, 102, 38, 9
 CONTROL "Product", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 94, 111, 29, 9
 CONTROL "Frame8", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 92, 141, 1
 CONTROL "Frame10", 102, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 141, 0, 1, 222, 0
}






