/****************************************************************************


CheckAuth.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "CheckAuth.rh"

IDD_CHKAUTH DIALOG 0, 60, 422, 223
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_MERCHID, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 52, 44, 43, 13
 CONTROL "", IDC_AMOUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 147, 44, 36, 13
 CONTROL "", IDC_CHECKTYPE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 228, 44, 44, 13
 CONTROL "", IDC_LICENSESTATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 52, 65, 15, 13
 CONTROL "", IDC_LICENSE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 88, 65, 84, 13
 CONTROL "", IDC_DOB, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 204, 65, 36, 13
 CONTROL "", IDC_CHECKNUMBER, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 296, 65, 32, 13
 CONTROL "", IDC_BANKNUMBER, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 32, 84, 41, 13
 CONTROL "", IDC_BANKACCOUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 74, 84, 70, 13, 0
 CONTROL "", IDC_CONSUMERNAME, "static", SS_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 84, 118, 13
 CONTROL "", IDC_TITLE, "static", SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_BORDER, 321, 84, 32, 13, 0
 CONTROL "", IDC_ADDRESS, "static", SS_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER, 5, 127, 210, 13
 CONTROL "", IDC_CITY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 22, 151, 64, 13
 CONTROL "", IDC_CONSUMERSTATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 118, 151, 15, 13
 CONTROL "", IDC_ZIPCODE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 154, 151, 44, 13
 CONTROL "", IDC_APARTMENT, "static", WS_CHILD | WS_VISIBLE | WS_BORDER, 24, 174, 32, 13, 0
 CONTROL "", IDC_PHONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 92, 174, 45, 13
 CONTROL "", IDC_SSN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 174, 44, 14
 CONTROL "", IDC_PRODUCTCLASS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 282, 114, 120, 13
 CONTROL "", IDC_TRANSPORTMETHOD, "static", WS_CHILD | WS_VISIBLE | WS_BORDER, 282, 136, 44, 13
 CONTROL "", IDC_BUSINESSNAME, "static", SS_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER, 282, 156, 110, 14
 CONTROL "", IDC_PRIVATELABEL, "static", WS_CHILD | WS_VISIBLE | WS_BORDER, 282, 178, 32, 13
 CONTROL "MERCHANT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 44, 44, 8
 CONTROL "AMOUNT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 108, 44, 32, 8
 CONTROL "TYPE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 197, 44, 20, 8
 CONTROL "CHECK NUMBER", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 256, 65, 36, 17
 CONTROL "STATE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 65, 28, 14
 CONTROL "D/L", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 72, 65, 16, 14
 CONTROL "DOB", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 180, 65, 16, 14
 CONTROL "MICR", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 84, 21, 9
 CONTROL "NAME", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 147, 84, 24, 13
 CONTROL "SSN", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 140, 174, 16, 14
 CONTROL "PHONE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 60, 174, 24, 14
 CONTROL "PRODUCT CLASS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 234, 114, 36, 17
 CONTROL "ADDRESS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 114, 36, 10
 CONTROL "CITY", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 151, 20, 13
 CONTROL "STATE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 90, 151, 28, 13
 CONTROL "ZIP", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 138, 151, 16, 13
 CONTROL "APT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 174, 20, 12
 CONTROL "TRANSPORT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 230, 136, 48, 14
 CONTROL "PRIVATE LABEL?", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 246, 178, 32, 17
 CONTROL "BUSINESS NAME", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 234, 156, 40, 17
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 12, 104, 344, 4
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 219, 112, 4, 87
 CONTROL "TITLE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 295, 84, 23, 13, 0
 CONTROL "OPER", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 9, 24, 11, 0
 CONTROL "", IDC_OPERATORID, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 25, 9, 25, 13, 0
 CONTROL " ", IDC_CALLTIME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 117, 9, 22, 13, 0
 CONTROL "TIME", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 57, 9, 21, 13, 0
 CONTROL "", IDC_CALLDATE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 79, 9, 36, 13, 0
 CONTROL "DURATION", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 9, 42, 11, 0
 CONTROL "", IDC_CALLMINUTES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 192, 9, 11, 13, 0
 CONTROL "MINS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 209, 9, 22, 13, 0
 CONTROL "", IDC_CALLSECONDS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 231, 9, 11, 13, 0
 CONTROL "SECS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 245, 9, 24, 13, 0
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 12, 28, 344, 4, 0
 CONTROL "APPROVAL NUM", 122, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 281, 9, 60, 14, 0
 CONTROL "", IDC_APPROVALNUM, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 344, 9, 20, 13, 0
}

