/****************************************************************************


DecisionDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "DecisionDialog.rh"

IDD_DECISION DIALOG 0, 60, 422, 203
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "R8 Out Reg", IDC_R8CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 262, 65, 52, 8, 0
 CONTROL "", IDC_BVACCTOPENDATE, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 319, 160, 37, 12, 0
 CONTROL "", IDC_BVAVGBAL, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 376, 160, 26, 12, 0
 CONTROL "", IDC_BVACCTCLOSEDDATE, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 302, 176, 37, 12, 0
 CONTROL "R1 Age", IDC_R1CHK, "button", BS_CHECKBOX | BS_BOTTOM | WS_CHILD | WS_VISIBLE, 262, 10, 41, 8
 CONTROL "ACCOUNT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 237, 134, 35, 9, 0
 CONTROL "Verified Good", IDC_BVGOODBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 149, 59, 13, 0
 CONTROL "Insuf Funds", IDC_BVIFBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 163, 52, 9, 0
 CONTROL "Account Closed", IDC_BVCLOSEDBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 176, 62, 9, 0
 CONTROL "Unverifiable", IDC_BVUNVERIFYBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 237, 189, 60, 9, 0
 CONTROL "Opened", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 291, 163, 28, 9, 0
 CONTROL "Avg", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 359, 163, 16, 13, 0
 CONTROL "R2 SIC", IDC_R2CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 262, 17, 39, 8, 0
 CONTROL "R3 Chk Num", IDC_R3CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 262, 25, 56, 8, 0
 CONTROL "R4 Chk Seq", IDC_R4CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 262, 33, 54, 8, 0
 CONTROL "R5 Sgl Chk", IDC_R5CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 262, 41, 51, 8, 0
 CONTROL "R6 Out State", IDC_R6CHK, "button", BS_CHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE, 262, 49, 57, 8, 0
 CONTROL "R7 Activity", IDC_R7CHK, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 262, 57, 49, 8, 0
 CONTROL "Date           Merch    Amt      Cknum     BV    Response", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 5, 176, 11, 0
 CONTROL "", IDC_ACT1DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 18, 36, 13, 0
 CONTROL "", IDC_ACT1MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 38, 18, 29, 13, 0
 CONTROL "", IDC_ACT1CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 18, 29, 13, 0
 CONTROL "", IDC_ACT1AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 67, 18, 24, 13, 0
 CONTROL "", IDC_ACT1BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 18, 16, 13, 0
 CONTROL "", IDC_ACT1RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 136, 18, 73, 13, 0
 CONTROL "", IDC_CK1DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 99, 35, 13, 0
 CONTROL "", IDC_CK1MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 99, 74, 13, 0
 CONTROL "", IDC_CK1AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 111, 99, 34, 13, 0
 CONTROL "", IDC_CK1CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 145, 99, 28, 13, 0
 CONTROL "Date           Merchant                      Amount    Cknum  Type", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 87, 188, 11, 0
 CONTROL "", IDC_CK1TYPE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 99, 15, 13, 0
 CONTROL "", IDC_ACT2DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 31, 36, 13, 0
 CONTROL "", IDC_ACT3DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 44, 36, 13, 0
 CONTROL "", IDC_ACT4DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 57, 36, 13, 0
 CONTROL "", IDC_ACT5DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 70, 36, 13, 0
 CONTROL "", IDC_ACT2MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 38, 31, 29, 13, 0
 CONTROL "", IDC_ACT3MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 38, 44, 29, 13, 0
 CONTROL "", IDC_ACT4MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 38, 57, 29, 13, 0
 CONTROL "", IDC_ACT5MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 38, 70, 29, 13, 0
 CONTROL "", IDC_ACT2AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 67, 31, 24, 13, 0
 CONTROL "", IDC_ACT3AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 67, 44, 24, 13, 0
 CONTROL "", IDC_ACT4AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 67, 57, 24, 13, 0
 CONTROL "", IDC_ACT5AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 67, 70, 24, 13, 0
 CONTROL "", IDC_ACT2CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 31, 29, 13, 0
 CONTROL "", IDC_ACT3CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 44, 29, 13, 0
 CONTROL "", IDC_ACT4CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 57, 29, 13, 0
 CONTROL "", IDC_ACT5CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 91, 70, 29, 13, 0
 CONTROL "", IDC_ACT2BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 31, 16, 13, 0
 CONTROL "", IDC_ACT3BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 44, 16, 13, 0
 CONTROL "", IDC_ACT4BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 57, 16, 13, 0
 CONTROL "", IDC_ACT5BV, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 70, 16, 13, 0
 CONTROL "", IDC_ACT2RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 136, 31, 73, 13, 0
 CONTROL "", IDC_ACT3RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 136, 44, 73, 13, 0
 CONTROL "", IDC_ACT4RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 136, 57, 73, 13, 0
 CONTROL "", IDC_ACT5RC, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 136, 70, 73, 13, 0
 CONTROL "", IDC_CK2DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 112, 35, 13, 0
 CONTROL "", IDC_CK3DATE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 2, 125, 35, 13, 0
 CONTROL "", IDC_CK2MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 112, 74, 13, 0
 CONTROL "", IDC_CK3MERCH, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 37, 125, 74, 13, 0
 CONTROL "", IDC_CK2AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 111, 112, 34, 13, 0
 CONTROL "", IDC_CK3AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 111, 125, 34, 13, 0
 CONTROL "", IDC_CK2CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 145, 112, 28, 13, 0
 CONTROL "", IDC_CK3CKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 145, 125, 28, 13, 0
 CONTROL "", IDC_CK2TYPE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 112, 15, 13, 0
 CONTROL "", IDC_CK3TYPE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 173, 125, 15, 13, 0
 CONTROL "UpDown1", IDC_ACT_UPDOWN, "msctls_updown32", WS_CHILD | NOT WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 238, 43, 11, 26, 0
 CONTROL "UpDown2", IDC_CHK_UPDOWN, "msctls_updown32", WS_CHILD | NOT WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 216, 104, 11, 26, 0
 CONTROL "Frame3", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 258, 4, 64, 74, 0
 CONTROL "Rcodes", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 260, 0, 26, 9, 0
 CONTROL "", IDC_BVABA, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 274, 133, 41, 13, 0
 CONTROL " ", IDC_BVACCOUNT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 316, 133, 70, 13, 0
 CONTROL "", IDC_BVRESPTEXT, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 329, 65, 91, 13, 0
 CONTROL "Response", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 329, 54, 35, 9, 0
 CONTROL "3 Days  #", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 246, 83, 32, 11, 0
 CONTROL "8 Days  #", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 247, 97, 32, 11, 0
 CONTROL "+8 Days  #", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 243, 110, 36, 11, 0
 CONTROL "", IDC_BVPER1NUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 280, 82, 16, 13, 0
 CONTROL "", IDC_BVPER2NUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 280, 96, 16, 13, 0
 CONTROL "", IDC_BVPER3NUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 280, 110, 16, 13, 0
 CONTROL "", IDC_BVPER1AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 82, 28, 13, 0
 CONTROL " ", IDC_BVPER2AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 96, 28, 13, 0
 CONTROL "", IDC_BVPER3AMT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 110, 28, 13, 0
 CONTROL "Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 355, 111, 16, 13, 0
 CONTROL "", IDC_BVAGE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 373, 110, 15, 13, 0
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 345, 84, 27, 13, 0
 CONTROL "", IDC_BVAMOUNT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 373, 82, 27, 13, 0
 CONTROL "Chknum", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 344, 97, 28, 13, 0
 CONTROL "", IDC_BVCHKNUM, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 373, 96, 27, 13, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 298, 82, 6, 13, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 298, 96, 6, 13, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 298, 110, 6, 13, 0
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 194, 87, 12, 13, 0
 CONTROL "", IDC_CK1IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 188, 99, 25, 13, 0
 CONTROL "", IDC_CK2IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 188, 112, 25, 13, 0
 CONTROL "", IDC_CK3IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 188, 125, 25, 13, 0
 CONTROL "Tran Score", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 338, 44, 39, 9
 CONTROL "", IDC_TRANSCORE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 382, 44, 21, 13
 CONTROL "SSN Score", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 337, 4, 38, 9
 CONTROL "", IDC_SSNSCORE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 382, 2, 21, 13
 CONTROL "Cons Phone OK?", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 337, 17, 56, 9
 CONTROL "", IDC_CONSPHOK, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 401, 16, 12, 13
 CONTROL "Emp Phone OK?", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 338, 31, 53, 8
 CONTROL "", IDC_EMPPHOK, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 401, 30, 12, 13
 CONTROL "", IDC_ACT1IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 209, 18, 25, 13, 0
 CONTROL "", IDC_ACT2IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 209, 31, 25, 13, 0
 CONTROL "", IDC_ACT3IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 209, 44, 25, 13, 0
 CONTROL "", IDC_ACT4IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 209, 57, 25, 13, 0
 CONTROL "", IDC_ACT5IDS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 209, 70, 25, 13, 0
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 212, 5, 14, 9, 0
 CONTROL "Comment", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 162, 34, 9, 0
 CONTROL "", IDC_COMMENTBOX, "edit", ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 2, 173, 222, 26, 0
 CONTROL "Mother's Maiden Name", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 147, 74, 9
 CONTROL "", IDC_MOTHERSNAME, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 147, 129, 13
}

