/****************************************************************************


HoldCheckDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "EmployerDialog.rh"

IDD_EMPLOYER DIALOG 0, 60, 422, 200
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_HCEMPLOYERNAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 26, 106, 14, 0
 CONTROL "", IDC_HCEMPLOYERADR1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 53, 119, 13, 0
 CONTROL "", IDC_HCEMPLOYERADR2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 66, 119, 13, 0
 CONTROL "", IDC_HCEMPLOYERADR3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 79, 119, 14, 0
 CONTROL "", IDC_HCEMPLOYERPHONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 105, 46, 13, 0
 CONTROL "", IDC_HCSALARY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 69, 105, 34, 13, 0
 CONTROL "", IDC_HCYEARSEMPLOYED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 117, 105, 13, 13, 0
 CONTROL "", IDC_HCPOSITION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 15, 134, 89, 13, 0
 CONTROL "Frame5", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 163, 8, 136, 186, 0
 CONTROL "", IDC_HCSPOUSENAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 27, 80, 13, 0
 CONTROL "", IDC_HCSPOUSESSN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 251, 27, 44, 13, 0
 CONTROL "", IDC_HCSPOUSEEMPLOYERNAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 69, 106, 14, 0
 CONTROL "", IDC_HCSPOUSEEMPLOYERADR1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 95, 119, 14, 0
 CONTROL "", IDC_HCSPOUSEEMPLOYERADR2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 108, 119, 13, 0
 CONTROL "", IDC_HCSPOUSEEMPLOYERADR3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 121, 119, 13, 0
 CONTROL "", IDC_HCSPOUSEEMPLOYERPHONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 169, 148, 46, 13, 0
 CONTROL "", IDC_HCSPOUSESALARY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 227, 148, 34, 13, 0
 CONTROL "", IDC_HCSPOUSEYEARSEMPLOYED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 271, 148, 13, 13, 0
 CONTROL "", IDC_HCSPOUSEPOSITION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 171, 175, 89, 13, 0
 CONTROL "Name", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 19, 15, 21, 9, 0
 CONTROL "Address", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 19, 43, 28, 9, 0
 CONTROL "Phone", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 19, 95, 24, 8, 0
 CONTROL "Salary", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 73, 95, 31, 8, 0
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 8, 145, 147, 0
 CONTROL " EMPLOYER", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 5, 46, 11, 0
 CONTROL "Name", IS_HCSPOUSEEMPLOYERNAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 175, 58, 21, 9, 0
 CONTROL "Address", IS_HCSPOUSEEMPLOYERADR, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 175, 86, 28, 8, 0
 CONTROL "Phone", IS_HCSPOUSEEMPLOYERPHONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 175, 138, 24, 9, 0
 CONTROL "Salary", IS_HCSPOUSESALARY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 229, 138, 31, 9, 0
 CONTROL "Name", IS_HCSPOUSENAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 169, 13, 23, 9, 0
 CONTROL "SSN", IS_HCSPOUSESSN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 255, 12, 17, 10, 0
 CONTROL "EMPLOYER:", IS_HCSPOUSEEMPLOYER, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 177, 45, 45, 9, 0
 CONTROL " SPOUSE", IS_HCSPOUSEINFO, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 185, 5, 36, 9, 0
 CONTROL "Years", 116, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 115, 95, 22, 9, 0
 CONTROL "Position", 117, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 123, 29, 10, 0
 CONTROL "Years", IS_HCSPOUSEYEARSEMPLOYED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 267, 138, 23, 10, 0
 CONTROL "Position", IS_HCSPOUSEPOSITION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 175, 164, 29, 9, 0
 CONTROL "Finance Amount", 132, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 162, 52, 8
 CONTROL "", IDC_HCFINANCEAMOUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 32, 175, 34, 13
}

