/****************************************************************************


MerchantDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "MerchantDialog.rh"

IDD_MERCHANT DIALOG 0, 60, 422, 223
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_MERCHANTNAM, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 82, 9, 95, 13
 CONTROL "", IDC_MERCHANTSTATE, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 23, 34, 19, 14
 CONTROL "", IDC_MERCHANTZIP, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 34, 25, 14
 CONTROL "", IDC_MERCHANTSIC, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 130, 34, 21, 14
 CONTROL "Time Zone", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 170, 34, 19, 17
 CONTROL "", IDC_MERCHANTTIMEZONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 190, 35, 60, 13
 CONTROL "SERVICES", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 281, 5, 38, 8
 CONTROL "Guarantee", IDC_GUARANTEESERVICE, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 282, 16, 48, 9, 0
 CONTROL "Pre-Auth", IDC_PREAUTHSERVICE, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 282, 26, 42, 9, 0
 CONTROL "", IDC_PREAUTHAMOUNT, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 304, 35, 25, 12, 0
 CONTROL "", IDC_PREAUTHDAYS, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 354, 35, 15, 12, 0
 CONTROL "HoldCheck", IDC_HOLDCHECKSERVICE, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 282, 48, 48, 9, 0
 CONTROL "", IDC_HOLDCHECKAMOUNT, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 304, 58, 25, 12, 0
 CONTROL "", IDC_HOLDCHECKVALUEPERCENT, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 354, 58, 15, 12, 0
 CONTROL "", IDC_HOLDCHECK1PERCENT, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 390, 58, 16, 12, 0
 CONTROL "Verification", IDC_VERIFYSERVICE, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 281, 73, 48, 9, 0
 CONTROL "Guarantee/Verify", IDC_GUARANTEEVERIFYSERVICE, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE, 281, 83, 69, 9, 0
 CONTROL "", IDC_VERIFYSERVICEAMOUNT, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 304, 92, 25, 12, 0
 CONTROL "Zip", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 58, 34, 12, 12
 CONTROL "SIC", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 114, 35, 15, 12
 CONTROL "Fed Reserve Regions", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 61, 73, 7
 CONTROL " 1     2     3     4     5     6     7     8     9    10   11   12", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 84, 53, 170, 7
 CONTROL "", IDC_FEDREG1, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 85, 63, 9, 12
 CONTROL "", IDC_FEDREG2, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 99, 63, 9, 12
 CONTROL "", IDC_FEDREG3, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 113, 63, 9, 12
 CONTROL "", IDC_FEDREG4, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 127, 63, 9, 12
 CONTROL "", IDC_FEDREG5, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 141, 63, 9, 12
 CONTROL "", IDC_FEDREG6, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 155, 63, 9, 12
 CONTROL "", IDC_FEDREG7, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 169, 63, 9, 12
 CONTROL "", IDC_FEDREG8, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 183, 63, 9, 12
 CONTROL "", IDC_FEDREG9, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 197, 63, 9, 12
 CONTROL "", IDC_FEDREG10, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 211, 63, 9, 12
 CONTROL "", IDC_FEDREG11, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 225, 63, 9, 12
 CONTROL "", IDC_FEDREG12, "button", BS_CHECKBOX | WS_CHILD | WS_VISIBLE, 239, 63, 9, 12
 CONTROL "Auth Rules:       Class", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 124, 71, 10
 CONTROL "", IDC_GUAUTHRULESCLASS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 80, 125, 88, 13
 CONTROL "", IDC_GUAUTHRULESSUBCLASS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 80, 138, 88, 13, 0
 CONTROL "", IDC_GUDATAREQ, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 80, 155, 88, 13
 CONTROL "", IDC_GUSECRULES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 80, 173, 88, 13
 CONTROL "", IDC_GURESPMSG, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 80, 191, 88, 13, 0
 CONTROL "", IDC_GUPOSFILERULES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 80, 208, 88, 13, 0
 CONTROL "", IDC_VFYAUTHRULESCLASS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 125, 88, 13, 0
 CONTROL "", IDC_VFYAUTHRULESSUBCLASS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 138, 88, 13, 0
 CONTROL "", IDC_VFYDATAREQ, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 155, 88, 13, 0
 CONTROL "", IDC_VFYSECRULES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 173, 88, 13, 0
 CONTROL "", IDC_VFYRESPMSG, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 191, 88, 13, 0
 CONTROL "", IDC_VFYPOSFILERULES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 306, 208, 88, 13, 0
 CONTROL "", IDC_MERCHANTNUM, "static", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 9, 35, 13
 CONTROL "ID", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 9, 11, 10
 CONTROL "Name", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 60, 9, 20, 10
 CONTROL "Data Requirements", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 155, 64, 10
 CONTROL "Security Rules", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 27, 173, 48, 11
 CONTROL "State", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 34, 19, 10
 CONTROL "Pos File Rules", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 28, 208, 45, 11
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 115, 422, 1, 0
 CONTROL "SubClass", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 45, 138, 32, 11, 0
 CONTROL "Response Messages", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 191, 68, 10, 0
 CONTROL "Data Requirements", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 238, 155, 64, 10, 0
 CONTROL "Auth Rules:       Class", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 234, 125, 71, 10, 0
 CONTROL "Security Rules", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 253, 173, 48, 11, 0
 CONTROL "Pos File Rules", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 254, 208, 45, 10, 0
 CONTROL "SubClass", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 271, 138, 32, 11, 0
 CONTROL "Response Messages", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 235, 191, 68, 10, 0
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 210, 116, 1, 110, 0
 CONTROL " Guarantee", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 76, 111, 37, 11, 0
 CONTROL " Verify ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 306, 111, 21, 9, 0
 CONTROL "Days", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 334, 35, 19, 11, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 297, 35, 6, 12, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 297, 59, 6, 11, 0
 CONTROL "$", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 297, 92, 6, 12, 0
 CONTROL "% Val", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 337, 55, 14, 17, 0
 CONTROL "% 1st", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 374, 55, 16, 18, 0
 CONTROL "Product Group", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 88, 47, 8
 CONTROL "", IDC_PRODUCTGROUP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 62, 88, 95, 13
}


