/****************************************************************************


PosfileDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "PosrulesDialog.rh"


IDD_POSFILELIMITS DIALOG 0, 60, 422, 223
STYLE DS_ABSALIGN | DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_WAITBEFOREPOSITIVE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 29, 2, 18, 13, 0
 CONTROL "", IDC_POSMAXOVERRIDES, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 29, 17, 18, 13
 CONTROL "", IDC_POSPERIOD, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 95, 17, 18, 13
 CONTROL "", IDC_OVERRIDEACCUM, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 181, 17, 30, 13, 0
 CONTROL "", IDC_MULTIPLYNUMAPPROVED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 86, 34, 15, 13, 0
 CONTROL "", IDC_MULTIPLYDOLLARSAPPROVED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 156, 34, 30, 13, 0
 CONTROL "", IDC_MULTIPLYMONTHS, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 336, 34, 15, 13, 0
 CONTROL "", IDC_POSLIMITAMT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 75, 25, 13
 CONTROL "", IDC_POSAGE1MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 75, 18, 13
 CONTROL "", IDC_POSAGE1MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 75, 18, 13
 CONTROL "", IDC_POSAGE1MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 75, 18, 13
 CONTROL "", IDC_POSAGE1MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 75, 18, 13
 CONTROL "", IDC_POSAGE1MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 75, 18, 13
 CONTROL "", IDC_POSAGE1MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 75, 18, 13
 CONTROL "", IDC_POSLIMITAMT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 91, 25, 13
 CONTROL "", IDC_POSAGE2MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 91, 18, 13
 CONTROL "", IDC_POSAGE2MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 91, 18, 13
 CONTROL "", IDC_POSAGE2MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 91, 18, 13
 CONTROL "", IDC_POSAGE2MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 91, 18, 13
 CONTROL "", IDC_POSAGE2MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 91, 18, 13
 CONTROL "", IDC_POSAGE2MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 91, 18, 13
 CONTROL "", IDC_POSLIMITAMT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 107, 25, 13
 CONTROL "", IDC_POSAGE3MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 107, 18, 13
 CONTROL "", IDC_POSAGE3MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 107, 18, 13
 CONTROL "", IDC_POSAGE3MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 107, 18, 13
 CONTROL "", IDC_POSAGE3MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 107, 18, 13
 CONTROL "", IDC_POSAGE3MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 107, 18, 13
 CONTROL "", IDC_POSAGE3MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 107, 18, 13
 CONTROL "", IDC_POSLIMITAMT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 123, 25, 13
 CONTROL "", IDC_POSAGE4MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 123, 18, 13
 CONTROL "", IDC_POSAGE4MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 123, 18, 13
 CONTROL "", IDC_POSAGE4MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 123, 18, 13
 CONTROL "", IDC_POSAGE4MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 123, 18, 13
 CONTROL "", IDC_POSAGE4MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 123, 18, 13
 CONTROL "", IDC_POSAGE4MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 123, 18, 13
 CONTROL "", IDC_POSLIMITAMT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 139, 25, 13
 CONTROL "", IDC_POSAGE5MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 139, 18, 13
 CONTROL "", IDC_POSAGE5MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 139, 18, 13
 CONTROL "", IDC_POSAGE5MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 139, 18, 13
 CONTROL "", IDC_POSAGE5MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 139, 18, 13
 CONTROL "", IDC_POSAGE5MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 139, 18, 13
 CONTROL "", IDC_POSAGE5MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 139, 18, 13
 CONTROL "", IDC_POSLIMITAMT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 155, 25, 13
 CONTROL "", IDC_POSAGE6MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 155, 18, 13
 CONTROL "", IDC_POSAGE6MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 155, 18, 13
 CONTROL "", IDC_POSAGE6MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 155, 18, 13
 CONTROL "", IDC_POSAGE6MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 155, 18, 13
 CONTROL "", IDC_POSAGE6MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 155, 18, 13
 CONTROL "", IDC_POSAGE6MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 155, 18, 13
 CONTROL "", IDC_POSLIMITAMT7, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 171, 25, 13
 CONTROL "", IDC_POSAGE7MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 171, 18, 13
 CONTROL "", IDC_POSAGE7MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 171, 18, 13
 CONTROL "", IDC_POSAGE7MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 171, 18, 13
 CONTROL "", IDC_POSAGE7MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 171, 18, 13
 CONTROL "", IDC_POSAGE7MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 171, 18, 13
 CONTROL "", IDC_POSAGE7MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 171, 18, 13
 CONTROL "", IDC_POSLIMITAMT8, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 187, 25, 13
 CONTROL "", IDC_POSAGE8MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 187, 18, 13
 CONTROL "", IDC_POSAGE8MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 187, 18, 13
 CONTROL "", IDC_POSAGE8MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 187, 18, 13
 CONTROL "", IDC_POSAGE8MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 187, 18, 13
 CONTROL "", IDC_POSAGE8MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 187, 18, 13
 CONTROL "", IDC_POSAGE8MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 187, 18, 13
 CONTROL "", IDC_POSLIMITAMT9, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 120, 203, 25, 13
 CONTROL "", IDC_POSAGE9MULT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 160, 203, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 186, 203, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 212, 203, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 238, 203, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT5, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 264, 203, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT6, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER, 290, 203, 18, 13, 0
 CONTROL "Wait", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 2, 19, 11, 0
 CONTROL "Allow ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 17, 20, 11
 CONTROL "Overrides in", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 51, 17, 40, 9
 CONTROL "Days up to max of ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 119, 17, 60, 12
 CONTROL "<= 21", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 75, 25, 13
 CONTROL "<= 25", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 91, 25, 13
 CONTROL "<= 30", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 107, 25, 13
 CONTROL "<= 35", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 123, 25, 14
 CONTROL "<= 40", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 139, 25, 13
 CONTROL "<= 45", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 155, 25, 14
 CONTROL "<= 50", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 171, 25, 14
 CONTROL "> 50", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 187, 25, 14, 0
 CONTROL "No Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 74, 203, 29, 10
 CONTROL "1           2          3            4          5           6+", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 59, 151, 11
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 159, 54, 149, 18
 CONTROL "days before allowing overrides.", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 51, 2, 101, 13, 0
 CONTROL "Apply Multiplier if at least", 110, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 34, 79, 13, 0
 CONTROL "approvals and ", 180, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 106, 34, 48, 14, 0
 CONTROL "dollars approved and last transaction is within ", 182, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 188, 34, 147, 13, 0
 CONTROL "months.", 184, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 354, 34, 28, 13, 0
 CONTROL " Multiply by years on file", 185, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 170, 50, 80, 9, 0
 CONTROL "Limit", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 123, 59, 18, 9, 0
 CONTROL "Frame2", 102, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 120, 54, 23, 18, 0
 CONTROL "Age", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 82, 59, 17, 13, 0
 CONTROL "Frame4", 104, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 73, 54, 35, 18, 0
 CONTROL "dollars.", 108, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 215, 17, 26, 13, 0
}



