/****************************************************************************


SearchKeyDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "SearchKeyDialog.rh"

IDD_SEARCHKEYDIALOG DIALOG 0, 0, 377, 200
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Execute Search"
FONT 8, "MS Sans Serif"
{
 CONTROL "Frame4", 124, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 207, 70, 164, 93, 0
 CONTROL " Date Range", 134, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 213, 67, 46, 9, 0
 CONTROL "", IDC_KEYMERCHID, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 41, 41, 13, 0
 CONTROL "", IDC_KEYLICENSESTATE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 59, 19, 13, 0
 CONTROL "", IDC_KEYLICENSE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 85, 59, 104, 13, 0
 CONTROL "", IDC_KEYBANKNUMBER, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 75, 43, 13, 0
 CONTROL "", IDC_KEYBANKACCOUNT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 109, 75, 72, 13, 0
 CONTROL "", IDC_KEYSSN, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 91, 43, 13, 0
 CONTROL "", IDC_KEYPHONE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 107, 46, 13, 0
 CONTROL "", IDC_KEYAPPROVALNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 123, 25, 13, 0
 CONTROL "", IDC_KEYOPERATORID, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 139, 19, 13, 0
 CONTROL "Match On Full Key", IDC_FULLKEYBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 225, 19, 74, 9, 0
 CONTROL "Match on Partial Key", IDC_PARTIALKEYBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 225, 30, 81, 13, 0
 CONTROL "Find", IDC_FINDBTN, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 133, 179, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 179, 50, 14
 CONTROL "MERCHANT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 19, 41, 44, 10, 0
 CONTROL "LICENSE", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 29, 59, 32, 9, 0
 CONTROL "MICR #", 102, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 33, 75, 27, 10, 0
 CONTROL "SSN", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 43, 91, 16, 13, 0
 CONTROL "PHONE", 104, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 33, 107, 28, 13, 0
 CONTROL "APPROVAL #", 105, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 123, 48, 13, 0
 CONTROL "OPERATOR", 106, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 17, 139, 43, 13, 0
 CONTROL "Enter 1 Search Key", 116, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 53, 23, 67, 13, 0
 CONTROL "Frame4", 127, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 10, 193, 153, 0
 CONTROL " Search Key", 128, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 6, 44, 13, 0
 CONTROL "All Records", IDC_KEYALLBTN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 134, 19, 51, 13, 0
 CONTROL "Entire File", IDC_SEARCHENTIREBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 82, 49, 9, 0
 CONTROL "Frame3", 130, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 207, 9, 164, 41, 0
 CONTROL " Match Type", 131, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 212, 5, 45, 9, 0
 CONTROL "Current Day", IDC_CURRENTDAYBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 96, 53, 9, 0
 CONTROL "FROM MMDDYY", IDC_RANGEBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 149, 70, 9, 0
 CONTROL "Current Year", IDC_CURRENTYEARBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 109, 55, 9, 0
 CONTROL "MMDDYY", IDC_DATEBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 135, 47, 9, 0
 CONTROL "", IDC_DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 265, 134, 30, 11, 0
 CONTROL "", IDC_FROMDATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 285, 148, 30, 11, 0
 CONTROL "TO", 120, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 318, 148, 16, 8, 0
 CONTROL "", IDC_TODATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 148, 30, 11, 0
 CONTROL "Last", IDC_LASTNDAYSBTN, "button", BS_RADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 122, 29, 9, 0
 CONTROL "", IDC_LASTNDAYS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 244, 121, 14, 11, 0
 CONTROL "Days", 129, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 262, 122, 19, 9, 0
}

