/****************************************************************************


DataReqDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "DataReqDialog.rh"

IDD_DATAREQ DIALOG 0, 1, 422, 242
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "New Data Requirements"
FONT 8, "MS Sans Serif"
{
 CONTROL "Driver's License", IDC_LICENSE, "button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 19, 67, 12
 CONTROL "", IDC_LICENSEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 31, 25, 12
 CONTROL "MICR", IDC_MICR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 45, 34, 12
 CONTROL "", IDC_MICRAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 58, 25, 12
 CONTROL "License or MICR", IDC_LICENSEORMICR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 73, 75, 12
 CONTROL "", IDC_LICENSEORMICRAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 88, 25, 12
 CONTROL "Date of Birth", IDC_DOB, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 105, 67, 12
 CONTROL "", IDC_DOBAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 117, 25, 12
 CONTROL "If no DL", IDC_DOBIFMICRONLY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 20, 132, 53, 9
 CONTROL "Check Number", IDC_CHECKNUMBER, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 148, 67, 12
 CONTROL "", IDC_CHECKNUMBERAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 160, 25, 12
 CONTROL "Check Type", IDC_CHECKTYPE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 177, 55, 12
 CONTROL "", IDC_CHECKTYPEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 189, 25, 12
 CONTROL "Phone Number", IDC_PHONE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 137, 67, 12
 CONTROL "", IDC_PHONEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 141, 149, 25, 12
 CONTROL "Social Security Number", IDC_SSN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 168, 88, 12
 CONTROL "", IDC_SSNAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 141, 180, 25, 12
 CONTROL "Personal Name", IDC_NAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 205, 67, 12
 CONTROL "", IDC_NAMEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 217, 25, 12
 CONTROL "Title", IDC_TITLE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 23, 29, 13, 0
 CONTROL "", IDC_TITLEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 38, 25, 12, 0
 CONTROL "Transport Method", IDC_TRANSPORTMETHOD, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 52, 71, 12
 CONTROL "", IDC_TRANSPORTMETHODAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 140, 64, 25, 12
 CONTROL "Product Class", IDC_PRODUCTCLASS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 79, 59, 12
 CONTROL "", IDC_PRODUCTCLASSAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 141, 91, 25, 12
 CONTROL "Private Label Card", IDC_PRIVATELABEL, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 109, 72, 12
 CONTROL "", IDC_PRIVATELABELAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 141, 121, 25, 12
 CONTROL "Business Name", IDC_BUSINESSNAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 95, 200, 65, 12
 CONTROL "", IDC_BUSINESSNAMEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 139, 212, 25, 12
 CONTROL "Zip Code", IDC_ZIPCODE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 27, 45, 12
 CONTROL "", IDC_ZIPCODEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 239, 39, 25, 12
 CONTROL "Address", IDC_ADDRESS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 57, 41, 12
 CONTROL "", IDC_ADDRESSAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 239, 68, 25, 12, 0
 CONTROL "City", IDC_CITY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 87, 52, 9
 CONTROL "", IDC_CITYAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 239, 97, 25, 12, 0
 CONTROL "State", IDC_CONSUMERSTATE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 115, 52, 9
 CONTROL "", IDC_CONSUMERSTATEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 239, 126, 25, 12
 CONTROL "Residence Type", IDC_RESIDENCETYPE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 146, 66, 9
 CONTROL "", IDC_RESIDENCETYPEAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 239, 156, 25, 12
 CONTROL "", IDC_TRANTYPETAB, "SysTabControl32", WS_CHILD | WS_VISIBLE, 4, 1, 408, 14
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 108, 213, 29, 9
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 218, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 59, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 118, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 161, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 190, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 126, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 32, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 150, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 181, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 92, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 109, 65, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 40, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 110, 122, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 156, 29, 10
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 111, 39, 29, 10, 0
 CONTROL "If Over $", IDC_ADDRESSAMT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 68, 29, 10, 0
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 97, 29, 10, 0
 CONTROL "", IDC_EMPLOYMENTDATAAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 336, 37, 25, 12, 0
 CONTROL "If Over $", IDS_STATIC2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 302, 36, 29, 10, 0
 CONTROL "Employer Name", IDC_EMPLOYERNAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 48, 66, 13, 0
 CONTROL "Employer Address", IDC_EMPLOYERADR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 60, 72, 11, 0
 CONTROL "Employer Phone", IDC_EMPLOYERPHONE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 71, 66, 12, 0
 CONTROL "Salary", IDC_SALARY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 83, 66, 9, 0
 CONTROL "Years Employed", IDC_YEARSEMPLOYED, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 94, 68, 10, 0
 CONTROL "Position", IDC_POSITION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 105, 66, 10, 0
 CONTROL "Name", IDC_SPOUSENAME, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 148, 66, 11, 0
 CONTROL "Social Security Number", IDC_SPOUSESSN, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 160, 91, 9, 0
 CONTROL "Employer Name", IDC_SPOUSEEMPLOYER, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 171, 66, 9, 0
 CONTROL "Employer Address", IDC_SPOUSEEMPLOYERADR, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 181, 72, 10, 0
 CONTROL "", IDC_SPOUSEDATAAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 333, 135, 25, 12, 0
 CONTROL "If Over $", IDS_STATIC4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 302, 137, 29, 10, 0
 CONTROL "Employer Phone", IDC_SPOUSEEMPLOYERPHONE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 192, 66, 10, 0
 CONTROL "Salary", IDC_SPOUSESALARY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 203, 66, 11, 0
 CONTROL "Years Employed", IDC_SPOUSEYEARSEMPLOYED, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 214, 68, 11, 0
 CONTROL "Position", IDC_SPOUSEPOSITION, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 302, 225, 66, 11, 0
 CONTROL "Frame1", 126, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 292, 30, 112, 91, 0
 CONTROL " Employer Data", IDS_STATIC1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 304, 26, 52, 9, 0
 CONTROL "Frame2", 160, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 292, 128, 112, 112, 0
 CONTROL "Spouse/Co-Signer Data", IDS_STATIC3, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 124, 79, 8, 0
 CONTROL "Finance Amount", IDC_FINANCEAMOUNT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 176, 66, 7
 CONTROL "", IDC_FINANCEAMOUNTAMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 239, 187, 25, 12
 CONTROL "If Over $", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 187, 29, 10
 CONTROL "If Over $", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 89, 29, 10
}
