/****************************************************************************


PosfileDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "PosfileDialog.rh"


IDD_POSFILELIMITS DIALOG 0, 1, 422, 242
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "New Posfile Rules Class"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_WAITBEFOREPOSITIVE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 2, 18, 13, 0
 CONTROL "", IDC_POSMAXOVERRIDES, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 19, 18, 13
 CONTROL "", IDC_POSPERIOD, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 19, 18, 13
 CONTROL "", IDC_OVERRIDEACCUM, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 181, 19, 30, 13, 0
 CONTROL "", IDC_MULTIPLYNUMAPPROVED, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 38, 15, 13, 0
 CONTROL "", IDC_MULTIPLYDOLLARSAPPROVED, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 156, 38, 30, 13, 0
 CONTROL "", IDC_MULTIPLYMONTHS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 336, 38, 15, 13, 0
 CONTROL "", IDC_POSLIMITAMT1, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 93, 25, 13
 CONTROL "", IDC_POSAGE1MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 93, 18, 13
 CONTROL "", IDC_POSAGE1MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 93, 18, 13
 CONTROL "", IDC_POSAGE1MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 93, 18, 13
 CONTROL "", IDC_POSAGE1MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 93, 18, 13
 CONTROL "", IDC_POSAGE1MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 93, 18, 13
 CONTROL "", IDC_POSAGE1MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 93, 18, 13
 CONTROL "", IDC_POSLIMITAMT2, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 109, 25, 13
 CONTROL "", IDC_POSAGE2MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 109, 18, 13
 CONTROL "", IDC_POSAGE2MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 109, 18, 13
 CONTROL "", IDC_POSAGE2MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 109, 18, 13
 CONTROL "", IDC_POSAGE2MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 109, 18, 13
 CONTROL "", IDC_POSAGE2MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 109, 18, 13
 CONTROL "", IDC_POSAGE2MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 109, 18, 13
 CONTROL "", IDC_POSLIMITAMT3, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 125, 25, 13
 CONTROL "", IDC_POSAGE3MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 125, 18, 13
 CONTROL "", IDC_POSAGE3MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 125, 18, 13
 CONTROL "", IDC_POSAGE3MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 125, 18, 13
 CONTROL "", IDC_POSAGE3MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 125, 18, 13
 CONTROL "", IDC_POSAGE3MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 125, 18, 13
 CONTROL "", IDC_POSAGE3MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 125, 18, 13
 CONTROL "", IDC_POSLIMITAMT4, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 141, 25, 13
 CONTROL "", IDC_POSAGE4MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 141, 18, 13
 CONTROL "", IDC_POSAGE4MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 141, 18, 13
 CONTROL "", IDC_POSAGE4MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 141, 18, 13
 CONTROL "", IDC_POSAGE4MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 141, 18, 13
 CONTROL "", IDC_POSAGE4MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 141, 18, 13
 CONTROL "", IDC_POSAGE4MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 141, 18, 13
 CONTROL "", IDC_POSLIMITAMT5, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 157, 25, 13
 CONTROL "", IDC_POSAGE5MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 157, 18, 13
 CONTROL "", IDC_POSAGE5MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 157, 18, 13
 CONTROL "", IDC_POSAGE5MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 157, 18, 13
 CONTROL "", IDC_POSAGE5MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 157, 18, 13
 CONTROL "", IDC_POSAGE5MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 157, 18, 13
 CONTROL "", IDC_POSAGE5MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 157, 18, 13
 CONTROL "", IDC_POSLIMITAMT6, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 173, 25, 13
 CONTROL "", IDC_POSAGE6MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 173, 18, 13
 CONTROL "", IDC_POSAGE6MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 173, 18, 13
 CONTROL "", IDC_POSAGE6MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 173, 18, 13
 CONTROL "", IDC_POSAGE6MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 173, 18, 13
 CONTROL "", IDC_POSAGE6MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 173, 18, 13
 CONTROL "", IDC_POSAGE6MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 173, 18, 13
 CONTROL "", IDC_POSLIMITAMT7, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 189, 25, 13
 CONTROL "", IDC_POSAGE7MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 189, 18, 13
 CONTROL "", IDC_POSAGE7MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 189, 18, 13
 CONTROL "", IDC_POSAGE7MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 189, 18, 13
 CONTROL "", IDC_POSAGE7MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 189, 18, 13
 CONTROL "", IDC_POSAGE7MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 189, 18, 13
 CONTROL "", IDC_POSAGE7MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 189, 18, 13
 CONTROL "", IDC_POSLIMITAMT8, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 205, 25, 13
 CONTROL "", IDC_POSAGE8MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 205, 18, 13
 CONTROL "", IDC_POSAGE8MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 205, 18, 13
 CONTROL "", IDC_POSAGE8MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 205, 18, 13
 CONTROL "", IDC_POSAGE8MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 205, 18, 13
 CONTROL "", IDC_POSAGE8MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 205, 18, 13
 CONTROL "", IDC_POSAGE8MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 205, 18, 13
 CONTROL "", IDC_POSLIMITAMT9, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 120, 221, 25, 13
 CONTROL "", IDC_POSAGE9MULT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 221, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT2, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 186, 221, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT3, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 212, 221, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT4, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 238, 221, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT5, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 264, 221, 18, 13, 0
 CONTROL "", IDC_POSAGE9MULT6, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 290, 221, 18, 13, 0
 CONTROL "Wait", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 2, 19, 11, 0
 CONTROL "Allow ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 19, 20, 11
 CONTROL "Overrides in", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 51, 19, 40, 9
 CONTROL "Days up to max of ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 119, 19, 60, 12
 CONTROL "<= 21", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 93, 25, 13
 CONTROL "<= 25", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 109, 25, 13
 CONTROL "<= 30", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 125, 25, 13
 CONTROL "<= 35", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 141, 25, 14
 CONTROL "<= 40", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 157, 25, 13
 CONTROL "<= 45", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 173, 25, 14
 CONTROL "<= 50", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 189, 25, 14
 CONTROL "> 50", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 205, 25, 14, 0
 CONTROL "No Age", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 74, 221, 29, 10
 CONTROL "1           2          3            4          5           6+", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 166, 72, 151, 11
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 159, 67, 149, 21
 CONTROL "days before allowing overrides.", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 51, 2, 101, 13, 0
 CONTROL "Apply Multiplier if at least", 110, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 38, 79, 13, 0
 CONTROL "approvals and ", 180, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 106, 38, 48, 14, 0
 CONTROL "dollars approved and last transaction is within ", 182, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 188, 38, 147, 13, 0
 CONTROL "months.", 184, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 354, 38, 28, 13, 0
 CONTROL " Multiply by years on file", 185, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 170, 63, 80, 9, 0
 CONTROL "Limit", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 123, 72, 18, 9, 0
 CONTROL "Frame2", 102, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 120, 67, 23, 21, 0
 CONTROL "Age", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 82, 72, 17, 13, 0
 CONTROL "Frame4", 104, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 73, 67, 35, 21, 0
 CONTROL "dollars.", 108, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 215, 19, 26, 13, 0
}



