/****************************************************************************


PosResponse.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "PosResponse.rh"

IDD_POSRESPONSE DIALOG 0, 1, 422, 242
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION ""
FONT 7, "MS Sans Serif"
{
 CONTROL "", IDC_RC21, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 15, 85, 12, 0
 CONTROL "", IDC_RC22, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 38, 85, 12, 0
 CONTROL "", IDC_RC23, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 61, 85, 12, 0
 CONTROL "", IDC_RC24, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 84, 85, 12, 0
 CONTROL "", IDC_RC25, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 107, 85, 12, 0
 CONTROL "", IDC_RC26, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 130, 85, 12, 0
 CONTROL "", IDC_RC27, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 153, 85, 12, 0
 CONTROL "", IDC_RC28, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 177, 85, 12, 0
 CONTROL "", IDC_RC30, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 3, 200, 85, 12, 0
 CONTROL "", IDC_RC31, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 222, 85, 12, 0
 CONTROL "21 - R1 Age ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 5, 69, 9, 0
 CONTROL "22 - R2 Merchant Activity", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 28, 82, 9, 0
 CONTROL "23 - R3 Check Number Decline", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 51, 76, 9, 0
 CONTROL "24 - R4 Check Sequence", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 74, 84, 9, 0
 CONTROL "25 - R5 Single Check", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 97, 69, 9, 0
 CONTROL "26 - R6 Out of State Id", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 120, 73, 9, 0
 CONTROL "27 - R7 Period Activity", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 143, 72, 9, 0
 CONTROL "28 - R8 Out of Fed Region", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 166, 84, 9, 0
 CONTROL "31 Preauth Amt Exceeded", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 213, 88, 9, 0
 CONTROL "", IDC_RC50, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 15, 85, 12, 0
 CONTROL "51 - Invalid STATE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 29, 69, 9, 0
 CONTROL "", IDC_RC51, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 38, 85, 12, 0
 CONTROL "52 - Invalid MICR", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 106, 51, 69, 9, 0
 CONTROL "", IDC_RC52, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 61, 85, 12, 0
 CONTROL "53 - Invalid DOB", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 74, 69, 9, 0
 CONTROL "", IDC_RC53, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 85, 85, 12, 0
 CONTROL "54 - Invalid PHONE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 98, 69, 9, 0
 CONTROL "", IDC_RC54, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 107, 85, 12, 0
 CONTROL "55 - Invalid SSN", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 120, 69, 9, 0
 CONTROL "", IDC_RC55, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 130, 85, 12, 0
 CONTROL "56 - Invalid CHECKNUM", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 143, 80, 9, 0
 CONTROL "", IDC_RC56, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 154, 85, 12, 0
 CONTROL "57 - Invalid AMOUNT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 166, 69, 9, 0
 CONTROL "", IDC_RC57, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 176, 85, 12, 0
 CONTROL "58 - Invalid ZIP", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 189, 69, 9, 0
 CONTROL "", IDC_RC58, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 200, 85, 12, 0
 CONTROL "59 - Invalid Data", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 105, 213, 69, 9, 0
 CONTROL "", IDC_RC59, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 105, 222, 85, 12, 0
 CONTROL "", IDC_RC90, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 15, 85, 12, 0
 CONTROL "91 - Missing STATE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 29, 69, 9, 0
 CONTROL "", IDC_RC91, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 38, 85, 12, 0
 CONTROL "92 - Missing MICR", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 51, 69, 9, 0
 CONTROL "", IDC_RC92, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 61, 85, 12, 0
 CONTROL "93 - Missing DOB", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 74, 69, 9, 0
 CONTROL "", IDC_RC93, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 85, 85, 12, 0
 CONTROL "94 - Missing PHONE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 98, 69, 9, 0
 CONTROL "", IDC_RC94, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 107, 85, 12, 0
 CONTROL "95 - Missing SSN", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 120, 83, 9, 0
 CONTROL "", IDC_RC95, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 130, 85, 12, 0
 CONTROL "96 - Missing CHECKNUM", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 143, 83, 9, 0
 CONTROL "", IDC_RC96, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 154, 85, 12, 0
 CONTROL "97 - Missing AMOUNT", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 166, 80, 9, 0
 CONTROL "", IDC_RC97, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 176, 85, 12, 0
 CONTROL "98 - Missing ZIP", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 189, 69, 9, 0
 CONTROL "", IDC_RC98, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 200, 85, 12, 0
 CONTROL "99 - Missing Data", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 207, 213, 69, 9, 0
 CONTROL "", IDC_RC99, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 222, 85, 12, 0
 CONTROL "", IDC_RC80, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 15, 85, 12, 0
 CONTROL "81 - R1 Age Guarantee", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 29, 77, 9, 0
 CONTROL "", IDC_RC81, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 38, 85, 12, 0
 CONTROL "82 - Preauth Approval", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 314, 51, 77, 9, 0
 CONTROL "", IDC_RC82, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 61, 85, 12, 0
 CONTROL "83 - R3 CheckNum Guarantee", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 74, 98, 9, 0
 CONTROL "", IDC_RC83, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 85, 85, 12, 0
 CONTROL "84 - Hold Check Approval", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 98, 86, 9, 0
 CONTROL "", IDC_RC84, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 107, 85, 12, 0
 CONTROL "85 - Verify Approval ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 120, 69, 9, 0
 CONTROL "", IDC_RC85, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 130, 85, 12, 0
 CONTROL "87 - Posfile Approval", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 143, 69, 9, 0
 CONTROL "", IDC_RC87, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 154, 85, 12, 0
 CONTROL "40 - Lost/Stolen", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 166, 69, 9, 0
 CONTROL "", IDC_RC40, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 176, 85, 12, 0
 CONTROL "73 - Future Use", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 189, 69, 9, 0
 CONTROL "", IDC_RC73, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 200, 85, 12, 0
 CONTROL "74 - Future Use", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 213, 69, 9, 0
 CONTROL "", IDC_RC74, "edit", ES_UPPERCASE | ES_AUTOHSCROLL | ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 313, 222, 85, 12, 0
 CONTROL "50 Invalid LICENSE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 106, 5, 69, 9, 0
 CONTROL "90 - Missing LICENSE", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 208, 5, 69, 9, 0
 CONTROL "80 - Guarantee Approval", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 313, 5, 82, 9, 0
 CONTROL "30 - Multiple Pre Auths", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 189, 84, 9, 0
}

