/****************************************************************************


SecRulesDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "SecRulesDialog.rh"

IDD_SECRULES DIALOG 0, 1, 422, 242
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "New Security Authorization Rules"
FONT 8, "MS Sans Serif"
{
 CONTROL "If Carryout", IDC_NOCARRYOUT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 18, 78, 12
 CONTROL "If Business Check and Checkwriter is not signatory", IDC_CHECKMUSTBESIGNED, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 32, 173, 12
 CONTROL "If Area Code and Phone number unverifiable", IDC_PHONEUNVERIFIABLE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 46, 155, 14
 CONTROL "If SSN Invalid", IDC_SSNINVALID, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 60, 59, 18
 CONTROL "If Street Address unverifiable", IDC_ADDRESSUNVERIFIABLE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 79, 105, 13
 CONTROL "If Credit Score less than", IDC_LOWCREDITSCORE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 12, 96, 90, 12
 CONTROL "", IDC_LowCreditScoreValue, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 105, 96, 16, 13
 CONTROL "If SSN fraud detected", IDC_SSNFRAUD, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 111, 84, 15
 CONTROL "If > than", IDC_MAXBANKVERIFY, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 130, 43, 12
 CONTROL "", IDC_MaxBankVerifyNumber, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 56, 131, 12, 13
 CONTROL "Bank Verify Approvals in ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 77, 132, 78, 11
 CONTROL "", IDC_MaxBankVerifyDays, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 161, 131, 12, 13
 CONTROL "days", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 179, 131, 16, 12
 CONTROL "If CA License = ", IDC_HIRISKCALICENSE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 146, 64, 12
 CONTROL "", IDC_HiRiskCALicense1, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 22, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense2, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense3, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 52, 160, 15, 12
 CONTROL " ", IDC_HiRiskCALicense4, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 67, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense5, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 82, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense6, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 97, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense7, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 112, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense8, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 127, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense9, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 160, 15, 12
 CONTROL "", IDC_HiRiskCALicense10, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 157, 160, 15, 12
 CONTROL "If > ", IDC_MAXRCODES, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 181, 26, 9
 CONTROL "", IDC_MaxRcodesNum, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 39, 181, 14, 12
 CONTROL "Rcodes Breached", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 59, 181, 60, 12
 CONTROL "If Apartment", IDC_NOAPARTMENT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 198, 53, 12
 CONTROL "If Demographic Class = ", IDC_HIRISKDEMOGRAPHIC, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 12, 216, 89, 12
 CONTROL "", IDC_HiRiskDemographicClass, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER, 100, 216, 14, 12
 CONTROL "If Amount > ", IDC_HIRISKAMOUNT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 19, 52, 12
 CONTROL "", IDC_HiRiskAmountValue, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 275, 18, 26, 13
 CONTROL "If Check Number < ", IDC_HIRISKCHECKNUMBER, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 33, 75, 15
 CONTROL "999999", IDC_HiRiskCheckNumberValue, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 297, 34, 29, 13
 CONTROL "If Age < ", IDC_HIRISKAGE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 222, 49, 40, 15
 CONTROL "", IDC_HiRiskAgeValue, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 265, 51, 16, 12
 CONTROL "If Product Class = ", IDC_HIRISKPRODUCT1, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED, 222, 68, 71, 15
 CONTROL "ComboBox3", IDC_HiRiskProduct1Value, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 298, 69, 84, 12
 CONTROL "and", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 388, 72, 16, 9
 CONTROL "Amout > ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 245, 87, 29, 11
 CONTROL "", IDC_HiRiskProduct1Amount, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 276, 86, 24, 12
 CONTROL "and day = ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 307, 87, 35, 9
 CONTROL "ComboBox4", IDC_HiRiskProduct1DayOfWeek, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 342, 85, 40, 12
 CONTROL "and", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 389, 87, 16, 9
 CONTROL "Time=", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 268, 102, 24, 11
 CONTROL "", IDC_HiRiskProduct1FromTime, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 296, 102, 22, 12
 CONTROL "to", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 324, 101, 12, 13
 CONTROL "", IDC_HiRiskProduct1ToTime, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER, 338, 102, 20, 12
 CONTROL "If Product Class = ", IDC_HIRISKPRODUCT2, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 222, 119, 71, 15
 CONTROL "ComboBox1", IDC_HiRiskProduct2Value, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 298, 120, 84, 12
 CONTROL "and", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 388, 123, 16, 9
 CONTROL "Amout > ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 245, 138, 29, 11
 CONTROL "", IDC_HiRiskProduct2Amount, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 276, 138, 24, 12
 CONTROL "and day = ", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 307, 138, 35, 9
 CONTROL "ComboBox2", IDC_HiRiskProduct2DayOfWeek, "combobox", CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 342, 136, 40, 12
 CONTROL "and", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 389, 138, 16, 9
 CONTROL "Time=", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 268, 153, 24, 11
 CONTROL "", IDC_HiRiskProduct2FromTime, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 296, 153, 22, 12
 CONTROL "to", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 324, 152, 12, 13
 CONTROL "", IDC_HiRiskProduct2ToTime, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 338, 153, 20, 12
 CONTROL "If Unverifiablle Funds, DECLINE...", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 153, 3, 116, 9
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 210, 25, 1, 208
}

