/****************************************************************************


UnvFundsDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "UnvFundsDialog.rh"

IDD_UNVFUNDS DIALOG 0, 1, 422, 242
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "New Unverifiable Funds Rules"
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_AMOUNTVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 13, 26, 13
 CONTROL "", IDC_AMOUNTPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 13, 13, 13
 CONTROL "", 1001, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 26, 26, 13
 CONTROL "", 10001, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 26, 13, 13
 CONTROL "", 1002, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 39, 26, 13
 CONTROL "", 10002, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 39, 13, 13
 CONTROL "", 1003, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 52, 26, 13
 CONTROL "", 10003, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 52, 13, 13
 CONTROL "", 1004, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 65, 26, 13
 CONTROL "", 10004, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 65, 13, 13
 CONTROL "", 1005, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 78, 26, 13
 CONTROL "", 10005, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 78, 13, 13
 CONTROL "", 1006, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 91, 26, 13
 CONTROL "", 10006, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 91, 13, 13
 CONTROL "", 1007, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 104, 26, 13
 CONTROL "", 10007, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 104, 13, 13
 CONTROL "", 1008, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 11, 117, 26, 13
 CONTROL "", 10008, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37, 117, 13, 13
 CONTROL "", IDC_CHECKNUMVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 13, 31, 13
 CONTROL "", IDC_CHECKNUMPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 13, 13, 13
 CONTROL "", 1101, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 26, 31, 13
 CONTROL "", 10101, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 26, 13, 13
 CONTROL "", 1102, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 39, 31, 13
 CONTROL "", 10102, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 39, 13, 13
 CONTROL "", 1103, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 52, 31, 13
 CONTROL "", 10103, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 52, 13, 13
 CONTROL "", 1104, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 66, 31, 13
 CONTROL "", 10104, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 66, 13, 13
 CONTROL "", 1105, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 79, 31, 13
 CONTROL "", 10105, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 79, 13, 13
 CONTROL "", 1106, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 91, 31, 13
 CONTROL "", 10106, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 91, 13, 13
 CONTROL "", 1107, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 72, 104, 31, 14
 CONTROL "", 10107, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 104, 13, 14
 CONTROL "", 1108, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 72, 117, 31, 13
 CONTROL "", 10108, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 117, 13, 13
 CONTROL "", IDC_AGEVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 13, 16, 13
 CONTROL "", IDC_AGEPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 13, 13, 13
 CONTROL "", 1201, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 26, 16, 13
 CONTROL "", 10201, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 26, 13, 13
 CONTROL "", 1202, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 39, 16, 13
 CONTROL "", 10202, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 39, 13, 13
 CONTROL "", 1203, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 52, 16, 13
 CONTROL "", 10203, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 52, 13, 13
 CONTROL "", 1204, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 66, 16, 13
 CONTROL "", 10204, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 66, 13, 13
 CONTROL "", 1205, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 79, 16, 13
 CONTROL "", 10205, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 79, 13, 13
 CONTROL "", 1206, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 91, 16, 13
 CONTROL "", 10206, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 91, 13, 13
 CONTROL "", 1207, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 137, 104, 16, 14
 CONTROL "", 10207, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 104, 13, 14
 CONTROL "", 1208, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 137, 117, 16, 13
 CONTROL "", 10208, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 117, 13, 13
 CONTROL "", IDC_TIMEVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 192, 13, 26, 13
 CONTROL "", IDC_TIMEPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 13, 13, 13
 CONTROL "", 1301, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 192, 26, 26, 13
 CONTROL "", 10301, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 26, 13, 13
 CONTROL "", 1302, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 192, 39, 26, 13
 CONTROL "", 10302, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 39, 13, 13
 CONTROL "", 1303, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 192, 52, 26, 13
 CONTROL "", 10303, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 52, 13, 13
 CONTROL "", 1304, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 192, 66, 26, 13
 CONTROL "", 10304, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 66, 13, 13
 CONTROL "", 1305, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 192, 79, 26, 13
 CONTROL "", 10305, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 79, 13, 13
 CONTROL "", 1306, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 192, 91, 26, 13
 CONTROL "", 10306, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 91, 13, 13
 CONTROL "", IDC_DAYPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 13, 13, 13
 CONTROL "", 10401, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 26, 13, 13
 CONTROL "", 10402, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 39, 13, 13
 CONTROL "", 10403, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 52, 13, 13
 CONTROL "", 10404, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 66, 13, 13
 CONTROL "", 10405, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 79, 13, 13
 CONTROL "", 10406, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 261, 91, 13, 13
 CONTROL "", IDC_SSNSCOREVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 308, 14, 26, 13
 CONTROL "", IDC_SSNSCOREPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 14, 13, 13
 CONTROL "", 1501, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 308, 27, 26, 13
 CONTROL "", 10501, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 27, 13, 13
 CONTROL "", 1502, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 308, 40, 26, 13
 CONTROL "", 10502, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 40, 13, 13
 CONTROL "", 1503, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 308, 53, 26, 13
 CONTROL "", 10503, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 53, 13, 13
 CONTROL "", 1504, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 308, 66, 26, 13
 CONTROL "", 10504, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 66, 13, 13
 CONTROL "", 1505, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 308, 79, 26, 13
 CONTROL "", 10505, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 79, 13, 13
 CONTROL "", 1506, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 308, 91, 26, 13
 CONTROL "", 10506, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 334, 91, 13, 13
 CONTROL "", IDC_YEARSONJOBVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 154, 15, 13
 CONTROL "", IDC_YEARSONJOBPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 154, 13, 13
 CONTROL "", 1601, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 167, 15, 13
 CONTROL "", 10601, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 167, 13, 13
 CONTROL "", 1602, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 180, 15, 13
 CONTROL "", 10602, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 180, 13, 13
 CONTROL "", 1603, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 193, 15, 13
 CONTROL "", 10603, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 193, 13, 13
 CONTROL "", 1604, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 206, 15, 13
 CONTROL "", 10604, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 206, 13, 13
 CONTROL "", 1605, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 13, 219, 15, 13
 CONTROL "", 10605, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 219, 13, 13
 CONTROL "", IDC_VELOCITYTRANSVALUE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 160, 16, 13
 CONTROL "", IDC_VELOCITYTRANSPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 160, 13, 13
 CONTROL "", 1701, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 173, 16, 13
 CONTROL "", 10701, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 173, 13, 13
 CONTROL "", 1702, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 186, 16, 13
 CONTROL "", 10702, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 186, 13, 13
 CONTROL "", 1703, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 199, 16, 13
 CONTROL "", 10703, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 199, 13, 13
 CONTROL "", 1704, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 212, 16, 13
 CONTROL "", 10704, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 212, 13, 13
 CONTROL "", IDC_VELOCITYDAYS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 227, 13, 13
 CONTROL "", IDC_VELOCITYAMOUNTVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 119, 160, 26, 13
 CONTROL "", IDC_VELOCITYAMOUNTPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 160, 13, 13
 CONTROL "", 1801, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 119, 173, 26, 13
 CONTROL "", 10801, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 173, 13, 13
 CONTROL "", 1802, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 119, 186, 26, 13
 CONTROL "", 10802, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 186, 13, 13
 CONTROL "", 1803, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 119, 199, 26, 13
 CONTROL "", 10803, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 199, 13, 13
 CONTROL "", 1804, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 119, 212, 26, 13
 CONTROL "", 10804, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 212, 13, 13
 CONTROL "", IDC_BANKVERIFYNGYESPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 225, 196, 13, 13
 CONTROL "", IDC_BANKVERIFYNGNOPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 225, 209, 13, 13
 CONTROL "", IDC_BANKVERIFYNGDAYS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 225, 223, 13, 13
 CONTROL "", IDC_BANKVERIFYGOODYESVALUE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 292, 144, 26, 13
 CONTROL "", IDC_BANKVERIFYGOODYESPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 144, 13, 13
 CONTROL "", 1901, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 292, 157, 26, 13
 CONTROL "", 10901, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 157, 13, 13
 CONTROL "", 1902, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 292, 170, 26, 13
 CONTROL "", 10902, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 170, 13, 13
 CONTROL "", 1903, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 292, 183, 26, 13
 CONTROL "", 10903, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 183, 13, 13
 CONTROL "", 1904, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 292, 196, 26, 13
 CONTROL "", 10904, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 196, 13, 13
 CONTROL "", 1905, "edit", ES_LEFT | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER, 292, 209, 26, 13
 CONTROL "", 10905, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 209, 13, 13
 CONTROL "", IDC_BANKVERIFYGOODDAYS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 286, 223, 13, 13
 CONTROL "", IDC_BANKVERIFYGOODNOPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 320, 223, 13, 13
 CONTROL "", IDC_DELIVERYYESPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 9, 13, 13
 CONTROL "", IDC_DELIVERYNOPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 22, 13, 13
 CONTROL "", IDC_LICENSEINPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 44, 13, 13
 CONTROL "", IDC_LICENSEOUTPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 57, 13, 13
 CONTROL "", IDC_FEDREGIONINPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 79, 13, 13
 CONTROL "", IDC_FEDREGIONOUTPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 91, 13, 13
 CONTROL "", IDC_RESIDENCEHOUSEPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 114, 13, 13
 CONTROL "", IDC_RESIDENCEAPTPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 126, 13, 13
 CONTROL "", IDC_CONSUMERPHONEGOODPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 149, 13, 13
 CONTROL "", IDC_CONSUMERPHONENGPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 161, 13, 13
 CONTROL "", IDC_EMPLOYERPHONEGOODPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 184, 13, 13
 CONTROL "", IDC_EMPLOYERPHONENGPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 196, 13, 13
 CONTROL "", IDC_POSFILEYESPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 217, 13, 13
 CONTROL "", IDC_POSFILENOPOINTS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 390, 229, 13, 13
 CONTROL "", IDC_MINSCORE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 221, 124, 23, 13
 CONTROL "", IDC_MAXSCORE, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 221, 140, 23, 13
 CONTROL "", IDC_CUTOFFSCORE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 221, 155, 23, 13
 CONTROL "Amount", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 15, 2, 25, 7
 CONTROL "<", 102, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 14, 7, 13
 CONTROL "<", 105, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 27, 7, 13
 CONTROL "<", 106, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 40, 7, 13
 CONTROL "<", 107, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 53, 7, 13
 CONTROL "<", 108, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 66, 7, 13
 CONTROL "<", 109, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 79, 7, 13
 CONTROL "<", 110, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 92, 7, 13
 CONTROL "<", 111, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 105, 7, 13
 CONTROL ">=", 112, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 118, 7, 13
 CONTROL "Check Number", 129, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 68, 3, 48, 7
 CONTROL "<", 130, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 15, 7, 13
 CONTROL "<", 133, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 27, 7, 13
 CONTROL "<", 134, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 40, 7, 14
 CONTROL "<", 135, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 53, 7, 13
 CONTROL "<", 136, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 66, 7, 13
 CONTROL "<", 137, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 79, 7, 13
 CONTROL "<", 138, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 92, 7, 13
 CONTROL "<", 139, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 106, 7, 13
 CONTROL ">=", 140, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 60, 119, 7, 13
 CONTROL "Age", 157, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 145, 2, 14, 8
 CONTROL "<", 158, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 15, 7, 13
 CONTROL "<", 161, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 27, 7, 13
 CONTROL "<", 162, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 40, 7, 14
 CONTROL "<", 163, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 53, 7, 13
 CONTROL "<", 164, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 66, 7, 13
 CONTROL "<", 165, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 79, 7, 13
 CONTROL "<", 166, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 92, 7, 13
 CONTROL "<", 167, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 129, 106, 7, 13
 CONTROL ">=", 168, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 125, 119, 7, 13
 CONTROL "Time of Day", 185, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 189, 2, 38, 8
 CONTROL "<", 186, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 15, 7, 13
 CONTROL "<", 189, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 27, 7, 13
 CONTROL "<", 190, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 40, 7, 14
 CONTROL "<", 191, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 53, 7, 13
 CONTROL "<", 192, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 66, 7, 13
 CONTROL "<", 193, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 184, 79, 7, 13
 CONTROL ">=", 194, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 181, 92, 7, 13
 CONTROL "Day of Week", 207, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 244, 2, 42, 8
 CONTROL "S", 208, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 251, 15, 7, 13
 CONTROL "M", 211, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 251, 27, 7, 13
 CONTROL "T", 212, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 251, 40, 7, 14
 CONTROL "W", 213, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 250, 53, 7, 13
 CONTROL "T", 214, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 251, 66, 7, 13
 CONTROL "F", 215, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 251, 79, 7, 13
 CONTROL "S", 216, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 251, 92, 7, 13
 CONTROL "Delivery", 229, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 362, 2, 28, 8
 CONTROL "Yes", 230, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 374, 11, 12, 9
 CONTROL "No", 232, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 376, 23, 10, 10
 CONTROL "License/Id", 238, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 362, 35, 38, 7
 CONTROL "In", 239, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 378, 45, 7, 9
 CONTROL "Out", 240, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 375, 57, 12, 9
 CONTROL "Fed Region", 241, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 364, 71, 40, 8
 CONTROL "In", 242, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 380, 81, 9, 9
 CONTROL "Out", 243, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 374, 92, 11, 9
 CONTROL "Residence", 244, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 364, 105, 35, 7
 CONTROL "House", 245, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 365, 116, 21, 8
 CONTROL "Apt", 247, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 373, 129, 11, 10
 CONTROL "Consumer Phone", 253, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 347, 140, 56, 7
 CONTROL "Good", 254, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 151, 18, 9
 CONTROL "No Good", 255, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 358, 162, 29, 9
 CONTROL "Employer Phone", 256, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 350, 175, 57, 8
 CONTROL "Good", 257, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 187, 17, 9
 CONTROL "No Good", 258, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 358, 197, 29, 7
 CONTROL "Velocity", 259, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 97, 139, 26, 8
 CONTROL "<", 260, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 162, 5, 13
 CONTROL "<", 265, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 175, 5, 13
 CONTROL "<", 266, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 188, 5, 13
 CONTROL "Days", 269, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 83, 229, 16, 9
 CONTROL "<", 271, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 112, 161, 7, 13
 CONTROL "<", 274, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 112, 174, 7, 13
 CONTROL "<", 275, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 112, 187, 7, 13
 CONTROL "<", 276, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 112, 200, 7, 13
 CONTROL ">=", 277, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 109, 213, 7, 13
 CONTROL "#", 268, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 83, 148, 8, 8
 CONTROL "$", 286, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 132, 148, 6, 8
 CONTROL "Years on Job", 287, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 141, 43, 9
 CONTROL "<", 288, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 155, 7, 13
 CONTROL "<", 291, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 168, 7, 13
 CONTROL "<", 292, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 181, 7, 14
 CONTROL "<", 293, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 194, 7, 13
 CONTROL "<", 294, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 3, 207, 7, 13
 CONTROL ">=", 295, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 2, 220, 7, 13
 CONTROL "Prior BK Ver NG", 306, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 197, 184, 54, 9
 CONTROL "Days", 308, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 204, 225, 18, 10
 CONTROL "Yes", 310, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 210, 198, 16, 9
 CONTROL "No", 312, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 210, 210, 16, 9
 CONTROL "Prior BK Ver Good", 314, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 273, 132, 58, 9
 CONTROL "Days", 315, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 264, 225, 16, 9
 CONTROL "Yes <", 317, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 146, 18, 13
 CONTROL "Yes <", 320, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 159, 18, 13
 CONTROL "Yes <", 321, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 172, 18, 13
 CONTROL "Yes <", 322, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 185, 18, 13
 CONTROL "Yes <", 323, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 269, 198, 18, 13
 CONTROL "Yes >=", 324, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 264, 211, 23, 8
 CONTROL "No", 325, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 303, 224, 11, 13
 CONTROL "SSN Score", 338, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 306, 2, 36, 7
 CONTROL "<", 339, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 16, 7, 13
 CONTROL "<", 342, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 28, 7, 14
 CONTROL "<", 343, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 41, 7, 14
 CONTROL "<", 344, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 53, 7, 13
 CONTROL "<", 345, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 66, 7, 13
 CONTROL "<", 346, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 300, 79, 7, 13
 CONTROL ">=", 347, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 296, 93, 7, 13
 CONTROL "Frame2", 307, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 188, 112, 75, 63
 CONTROL " Score ", 331, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 195, 108, 22, 8
 CONTROL "Max", 372, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 198, 141, 14, 7
 CONTROL "Min", 373, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 202, 125, 14, 7
 CONTROL "Cutoff", 374, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 194, 158, 21, 9
 CONTROL " Positive File?", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 350, 209, 44, 8
 CONTROL "Yes", 115, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 368, 220, 17, 9
 CONTROL "No", 116, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 370, 230, 10, 7
 CONTROL "<", 104, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 56, 201, 5, 13
 CONTROL ">=", 113, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 52, 214, 8, 13
}

