/****************************************************************************


ResponseDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "ResponseDialog.rh"

IDD_RESPONSE DIALOG 0, 0, 422, 242
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_THICKFRAME
CAPTION "Response Data"
FONT 8, "MS Sans Serif"
{
 CONTROL "00", IDC_KWRCODE, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 4, 16, 13, 0
 CONTROL "$INQ$ NO HITS", IDC_KWTEXT, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 106, 3, 267, 13, 0
 CONTROL "", IDC_ACT1DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 46, 31, 13, 0
 CONTROL "", IDC_ACT1MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 46, 29, 13, 0
 CONTROL "", IDC_ACT1AMT, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 46, 24, 13, 0
 CONTROL "", IDC_ACT1CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 46, 29, 13, 0
 CONTROL "", IDC_ACT1SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 46, 20, 13, 0
 CONTROL "", IDC_ACT1RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 46, 18, 13, 0
 CONTROL "", IDC_ACT1BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 46, 16, 13, 0
 CONTROL "", IDC_ACT1BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 46, 31, 13, 0
 CONTROL "", IDC_ACT1BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 46, 24, 13, 0
 CONTROL "", IDC_ACT2DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 59, 31, 13, 0
 CONTROL "", IDC_ACT2MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 59, 29, 13, 0
 CONTROL "", IDC_ACT2AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 59, 24, 13, 0
 CONTROL "", IDC_ACT2CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 59, 29, 13, 0
 CONTROL "", IDC_ACT2SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 59, 20, 13, 0
 CONTROL "", IDC_ACT2RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 59, 18, 13, 0
 CONTROL "", IDC_ACT2BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 59, 16, 13, 0
 CONTROL "", IDC_ACT2BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 59, 31, 13, 0
 CONTROL "", IDC_ACT2BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 59, 24, 13, 0
 CONTROL "", IDC_ACT3DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 72, 31, 13, 0
 CONTROL "", IDC_ACT3MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 72, 29, 13, 0
 CONTROL "", IDC_ACT3AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 72, 24, 13, 0
 CONTROL "", IDC_ACT3CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 72, 29, 13, 0
 CONTROL "", IDC_ACT3SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 72, 20, 13, 0
 CONTROL "", IDC_ACT3RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 72, 18, 13, 0
 CONTROL "", IDC_ACT3BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 72, 16, 13, 0
 CONTROL "", IDC_ACT3BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 72, 31, 13, 0
 CONTROL "", IDC_ACT3BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 72, 24, 13, 0
 CONTROL "", IDC_ACT4DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 85, 31, 13, 0
 CONTROL "", IDC_ACT4MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 85, 29, 13, 0
 CONTROL "", IDC_ACT4AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 85, 24, 13, 0
 CONTROL "", IDC_ACT4CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 85, 29, 13, 0
 CONTROL "", IDC_ACT4SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 85, 20, 13, 0
 CONTROL "", IDC_ACT4RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 85, 18, 14, 0
 CONTROL "", IDC_ACT4BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 85, 16, 13, 0
 CONTROL "", IDC_ACT4BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 85, 31, 13, 0
 CONTROL "", IDC_ACT4BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 85, 24, 13, 0
 CONTROL "", IDC_ACT5DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 98, 31, 13, 0
 CONTROL "", IDC_ACT5MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 98, 29, 13, 0
 CONTROL "", IDC_ACT5AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 98, 24, 13, 0
 CONTROL "", IDC_ACT5CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 98, 29, 13, 0
 CONTROL "", IDC_ACT5SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 98, 20, 13, 0
 CONTROL "", IDC_ACT5RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 98, 18, 13, 0
 CONTROL "", IDC_ACT5BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 98, 16, 14, 0
 CONTROL "", IDC_ACT5BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 98, 31, 13, 0
 CONTROL "", IDC_ACT5BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 98, 24, 13, 0
 CONTROL "", IDC_ACT6DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 111, 31, 13, 0
 CONTROL "", IDC_ACT6MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 111, 29, 13, 0
 CONTROL "", IDC_ACT6AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 111, 24, 13, 0
 CONTROL "", IDC_ACT6CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 111, 29, 13, 0
 CONTROL "", IDC_ACT6SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 111, 20, 13, 0
 CONTROL "", IDC_ACT6RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 111, 18, 13, 0
 CONTROL "", IDC_ACT6BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 111, 16, 13, 0
 CONTROL "", IDC_ACT6BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 111, 31, 13, 0
 CONTROL "", IDC_ACT6BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 111, 24, 13, 0
 CONTROL "", IDC_ACT7DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 124, 31, 13, 0
 CONTROL "", IDC_ACT7MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 124, 29, 13, 0
 CONTROL "", IDC_ACT7AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 124, 24, 13, 0
 CONTROL "", IDC_ACT7CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 124, 29, 13, 0
 CONTROL "", IDC_ACT7SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 124, 20, 13, 0
 CONTROL "", IDC_ACT7RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 124, 18, 14, 0
 CONTROL "", IDC_ACT7BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 124, 16, 14, 0
 CONTROL "", IDC_ACT7BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 124, 31, 13, 0
 CONTROL "", IDC_ACT7BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 124, 24, 13, 0
 CONTROL "", IDC_ACT8DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 137, 31, 13, 0
 CONTROL "", IDC_ACT8MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 137, 29, 13, 0
 CONTROL "", IDC_ACT8AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 137, 24, 13, 0
 CONTROL "", IDC_ACT8CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 137, 29, 13, 0
 CONTROL "", IDC_ACT8SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 137, 20, 13, 0
 CONTROL "", IDC_ACT8RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 137, 18, 13, 0
 CONTROL "", IDC_ACT8BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 137, 16, 13, 0
 CONTROL "", IDC_ACT8BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 137, 31, 13, 0
 CONTROL "", IDC_ACT8BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 137, 24, 13, 0
 CONTROL "", IDC_ACT9DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 150, 31, 13, 0
 CONTROL "", IDC_ACT9MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 150, 29, 13, 0
 CONTROL "", IDC_ACT9AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 150, 24, 13, 0
 CONTROL "", IDC_ACT9CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 150, 29, 13, 0
 CONTROL "", IDC_ACT9SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 150, 20, 13, 0
 CONTROL "", IDC_ACT9RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 150, 18, 13, 0
 CONTROL "", IDC_ACT9BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 150, 16, 13, 0
 CONTROL "", IDC_ACT9BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 150, 31, 13, 0
 CONTROL "", IDC_ACT9BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 150, 24, 13, 0
 CONTROL "", IDC_ACT10DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 9, 163, 31, 13, 0
 CONTROL "", IDC_ACT10MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 40, 163, 29, 13, 0
 CONTROL "", IDC_ACT10AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 163, 24, 13, 0
 CONTROL "", IDC_ACT10CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 93, 163, 29, 13, 0
 CONTROL "", IDC_ACT10SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 122, 163, 20, 13, 0
 CONTROL "", IDC_ACT10RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 163, 18, 13, 0
 CONTROL "", IDC_ACT10BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 163, 16, 13, 0
 CONTROL "", IDC_ACT10BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 176, 163, 31, 13, 0
 CONTROL "", IDC_ACT10BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 163, 24, 13, 0
 CONTROL "", IDC_CK1DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 258, 46, 31, 13, 0
 CONTROL "", IDC_CK1MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 289, 46, 29, 13, 0
 CONTROL "", IDC_CK1AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 318, 46, 34, 13, 0
 CONTROL "", IDC_CK1CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 352, 46, 28, 13, 0
 CONTROL "", IDC_CK1TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 380, 46, 17, 13, 0
 CONTROL "", IDC_CK2DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 258, 59, 31, 14, 0
 CONTROL "", IDC_CK2MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 289, 59, 29, 14, 0
 CONTROL "", IDC_CK2AMT, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 318, 59, 34, 14, 0
 CONTROL "", IDC_CK2CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 352, 59, 28, 14, 0
 CONTROL "", IDC_CK2TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 380, 59, 17, 14, 0
 CONTROL "", IDC_CK3DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 258, 72, 31, 13, 0
 CONTROL "", IDC_CK3MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 289, 72, 29, 13, 0
 CONTROL "", IDC_CK3AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 318, 72, 34, 13, 0
 CONTROL "", IDC_CK3CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 352, 72, 28, 13, 0
 CONTROL "", IDC_CK3TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 380, 72, 17, 13, 0
 CONTROL "", IDC_CK4DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 258, 85, 31, 13, 0
 CONTROL "", IDC_CK4MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 289, 85, 29, 13, 0
 CONTROL "", IDC_CK4AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 318, 85, 34, 13, 0
 CONTROL "", IDC_CK4CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 352, 85, 28, 13, 0
 CONTROL "", IDC_CK4TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 380, 85, 17, 13, 0
 CONTROL "", IDC_CK5DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 258, 98, 31, 13, 0
 CONTROL "", IDC_CK5MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 289, 98, 29, 13, 0
 CONTROL "", IDC_CK5AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 318, 98, 34, 13, 0
 CONTROL "", IDC_CK5CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 352, 98, 28, 13, 0
 CONTROL "", IDC_CK5TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 380, 98, 17, 13, 0
 CONTROL "Date         Merch    Amt      Cknum   SIC     RC     BVS  BVDT    BVBAL", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 9, 33, 225, 11, 0
 CONTROL "Date         Merch    Amount    Cknum  Type", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 259, 34, 139, 10, 0
 CONTROL "Activity", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 23, 27, 9, 0
 CONTROL "Checks", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 260, 25, 24, 9, 0
 CONTROL "Kenwood Rcode", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 4, 57, 12, 0
 CONTROL "Text", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 86, 4, 17, 13, 0
}

