/****************************************************************************


Dialogs.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "Dialogs.rh"


IDD_FETCHREFERRAL DIALOG 60, 75, 160, 80
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_REFERRALNUM, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 73, 34, 14, 13
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 56, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 56, 50, 14
 CONTROL "REFERAL NUMBER", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 44, 9, 72, 13
}

IDD_VERIFYREFERRAL DIALOG 60, 75, 160, 116
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "YES", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 90, 50, 14
 CONTROL "NO", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 90, 50, 14
 CONTROL "VERIFY REFERRAL", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 54, 7, 72, 14
 CONTROL "Merchant Name", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 11, 25, 54, 11, 0
 CONTROL "Merchant Id", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 22, 45, 41, 11, 0
 CONTROL "Amount", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 36, 65, 28, 12, 0
 CONTROL "", IDC_VFYMERCHNAME, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 25, 77, 14, 0
 CONTROL "", IDC_VFYAMOUNT, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 65, 39, 13, 0
 CONTROL "", IDC_VFYMERCHID, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 45, 30, 13, 0
}


IDD_APPROVAL DIALOG 60, 60, 115, 68
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 10, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 48, 35, 12
 CONTROL "APPROVAL NUMBER", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 23, 11, 69, 12, 0
 CONTROL "", IDC_APPNUM, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 27, 19, 13, 0
}

IDD_DECLINED DIALOG 60, 60, 115, 68
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 10, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 38, 35, 12
 CONTROL "APPROVAL DECLINED", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 23, 18, 73, 12, 0
}

IDD_HOLDCHECKAPPROVAL DIALOG 60, 60, 123, 119
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 10, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 98, 35, 12
 CONTROL "", IDC_HCAPPNUM1, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 31, 19, 13, 0
 CONTROL "", IDC_HCAPPNUM2, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 45, 19, 13, 0
 CONTROL "", IDC_HCAPPNUM3, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 59, 19, 13, 0
 CONTROL "", IDC_HCAPPNUM4, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 86, 73, 19, 13, 0
 CONTROL "", IDC_HCAPAMOUNT1, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 31, 33, 13, 0
 CONTROL "", IDC_HCAPAMOUNT2, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 45, 33, 13, 0
 CONTROL "", IDC_HCAPAMOUNT3, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 59, 33, 13, 0
 CONTROL "", IDC_HCAPAMOUNT4, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 73, 33, 13, 0
 CONTROL "", IDC_HCAPCHECKNUM1, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 31, 26, 13, 0
 CONTROL "", IDC_HCAPCHECKNUM2, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 45, 26, 13, 0
 CONTROL "", IDC_HCAPCHECKNUM3, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 59, 26, 13, 0
 CONTROL "", IDC_HCAPCHECKNUM4, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 73, 26, 13, 0
 CONTROL "Amount", 113, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 11, 21, 25, 8, 0
 CONTROL "Check Number", 114, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 48, 12, 26, 17, 0
 CONTROL "Approval Number", 115, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 84, 12, 30, 16, 0
}

IDD_YESNO DIALOG 60, 75, 160, 56
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "YES", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 23, 31, 50, 14
 CONTROL "NO", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 87, 31, 50, 14
 CONTROL "", IDC_YESNOTEXT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 6, 148, 13, 0
}

IDD_SSNSCORE DIALOG 60, 75, 160, 76
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT | WS_EX_CONTEXTHELP
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_BORDER
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_THESSN, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE, 65, 7, 50, 14
 CONTROL "", IDC_SSNSCORE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 66, 27, 26, 14
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 54, 50, 14
 CONTROL "Score", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 41, 29, 19, 10
 CONTROL "SSN", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 45, 7, 17, 10
}




















