/****************************************************************************


HoldCheckDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#define IDC_SPOUSEEMPLOYERADR	134
#include "EmployerDialog.rh"

IDD_EMPLOYER DIALOG 7, 75, 303, 202
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_BORDER | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_EMPLOYERNAME, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 15, 26, 106, 14, 0
 CONTROL "", IDC_EMPLOYERADR1, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 15, 53, 119, 13, 0
 CONTROL "", IDC_EMPLOYERADR2, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 15, 66, 119, 13, 0
 CONTROL "", IDC_EMPLOYERADR3, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 15, 79, 119, 14, 0
 CONTROL "", IDC_EMPLOYERPHONE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 15, 105, 46, 13, 0
 CONTROL "", IDC_SALARY, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 69, 105, 34, 13, 0
 CONTROL "", IDC_YEARSEMPLOYED, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 117, 105, 13, 13, 0
 CONTROL "", IDC_POSITION, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 15, 134, 89, 13, 0
 CONTROL "", IDC_FINANCEAMOUNT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 32, 172, 34, 13
 CONTROL "ComboBox1", IDC_SPOUSEINFO, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 116, 173, 32, 39, 0
 CONTROL "Frame5", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 163, 8, 136, 186, 0
 CONTROL "", IDC_SPOUSENAME, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 169, 27, 80, 13, 0
 CONTROL "", IDC_SPOUSESSN, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 251, 27, 44, 13, 0
 CONTROL "", IDC_SPOUSEEMPLOYERNAME, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 169, 69, 106, 14, 0
 CONTROL "", IDC_SPOUSEEMPLOYERADR1, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 169, 95, 119, 14, 0
 CONTROL "", IDC_SPOUSEEMPLOYERADR2, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 169, 108, 119, 13, 0
 CONTROL "", IDC_SPOUSEEMPLOYERADR3, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 169, 121, 119, 13, 0
 CONTROL "", IDC_SPOUSEEMPLOYERPHONE, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 169, 148, 46, 13, 0
 CONTROL "", IDC_SPOUSESALARY, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 227, 148, 34, 13, 0
 CONTROL "", IDC_SPOUSEYEARSEMPLOYED, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 271, 148, 13, 13, 0
 CONTROL "", IDC_SPOUSEPOSITION, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 170, 175, 89, 13, 0
 CONTROL "Name", IDS_EMPLOYERNAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 19, 15, 21, 9, 0
 CONTROL "Address", IDS_EMPLOYERADR1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 19, 43, 28, 9, 0
 CONTROL "Phone", IDS_EMPLOYERPHONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 19, 95, 24, 8, 0
 CONTROL "Salary", IDS_SALARY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 73, 95, 31, 8, 0
 CONTROL "Frame2", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 8, 145, 147, 0
 CONTROL " EMPLOYER", IDS_EMPLOYERGROUP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, 5, 46, 11, 0
 CONTROL "Name", IDS_SPOUSEEMPLOYERNAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 175, 58, 21, 9, 0
 CONTROL "Address", IDS_SPOUSEEMPLOYERADR1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 175, 86, 28, 8, 0
 CONTROL "Phone", IDS_SPOUSEEMPLOYERPHONE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 175, 138, 24, 9, 0
 CONTROL "Salary", IDS_SPOUSESALARY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 229, 138, 31, 9, 0
 CONTROL "Name", IDS_SPOUSENAME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 169, 13, 23, 9, 0
 CONTROL "SSN", IDS_SPOUSESSN, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 255, 12, 17, 10, 0
 CONTROL "DONE", IDOK, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | NOT WS_VISIBLE | WS_TABSTOP, 5, 191, 11, 5, 0
 CONTROL "Spouse/Co-Signer?", IDS_SPOUSE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 84, 160, 64, 9, 0
 CONTROL "EMPLOYER:", IDS_SPOUSEEMPLOYER, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 177, 45, 45, 9, 0
 CONTROL " SPOUSE/CO-SIGNER", IDS_SPOUSEGROUP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 178, 5, 79, 9, 0
 CONTROL "Years", IDS_YEARSEMPLOYED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 115, 95, 22, 9, 0
 CONTROL "Position", IDS_POSITION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 15, 123, 29, 10, 0
 CONTROL "Years", IDS_SPOUSEYEARSEMPLOYED, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 267, 138, 23, 10, 0
 CONTROL "Position", IDS_SPOUSEPOSITION, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 175, 164, 29, 9, 0
 CONTROL "Finance Amount", IDS_FINANCEAMOUNT, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED, 24, 160, 52, 8
}

