/****************************************************************************


ResponseDialog.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "ResponseDialog.rh"

IDD_RESPONSE DIALOG 0, 0, 536, 232
STYLE DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_THICKFRAME
CAPTION "Response Data"
FONT 8, "MS Sans Serif"
{
 CONTROL "00", IDC_KWRCODE, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 4, 16, 13, 0
 CONTROL "$INQ$ NO HITS", IDC_KWTEXT, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 106, 3, 267, 13, 0
 CONTROL "", IDC_ACT1DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 46, 31, 13, 0
 CONTROL "", IDC_ACT1TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 46, 31, 13
 CONTROL "", IDC_ACT1MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 46, 29, 13, 0
 CONTROL "", IDC_ACT1AMT, "edit", ES_LEFT | ES_UPPERCASE | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 46, 24, 13, 0
 CONTROL "", IDC_ACT1CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 46, 29, 13, 0
 CONTROL "", IDC_ACT1SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 46, 20, 13, 0
 CONTROL "", IDC_ACT1RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 46, 18, 13, 0
 CONTROL "", IDC_ACT1BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 46, 16, 13, 0
 CONTROL "", IDC_ACT1BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 46, 31, 13, 0
 CONTROL "", IDC_ACT1BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 46, 24, 13, 0
 CONTROL "", IDC_ACT1IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 46, 25, 13, 0
 CONTROL "", IDC_ACT2DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 59, 31, 13, 0
 CONTROL "", IDC_ACT2TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 59, 31, 13
 CONTROL "", IDC_ACT2MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 59, 29, 13, 0
 CONTROL "", IDC_ACT2AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 59, 24, 13, 0
 CONTROL "", IDC_ACT2CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 59, 29, 13, 0
 CONTROL "", IDC_ACT2SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 59, 20, 13, 0
 CONTROL "", IDC_ACT2RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 59, 18, 13, 0
 CONTROL "", IDC_ACT2BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 59, 16, 13, 0
 CONTROL "", IDC_ACT2BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 59, 31, 13, 0
 CONTROL "", IDC_ACT2BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 59, 24, 13, 0
 CONTROL "", IDC_ACT2IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 59, 25, 13, 0
 CONTROL "", IDC_ACT3DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 72, 31, 13, 0
 CONTROL "", IDC_ACT3TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 72, 31, 13
 CONTROL "", IDC_ACT3MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 72, 29, 13, 0
 CONTROL "", IDC_ACT3AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 72, 24, 13, 0
 CONTROL "", IDC_ACT3CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 72, 29, 13, 0
 CONTROL "", IDC_ACT3SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 72, 20, 13, 0
 CONTROL "", IDC_ACT3RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 72, 18, 13, 0
 CONTROL "", IDC_ACT3BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 72, 16, 13, 0
 CONTROL "", IDC_ACT3BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 72, 31, 13, 0
 CONTROL "", IDC_ACT3BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 72, 24, 13, 0
 CONTROL "", IDC_ACT3IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 72, 25, 13, 0
 CONTROL "", IDC_ACT4DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 85, 31, 13, 0
 CONTROL "", IDC_ACT4TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 85, 31, 13
 CONTROL "", IDC_ACT4MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 85, 29, 13, 0
 CONTROL "", IDC_ACT4AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 85, 24, 13, 0
 CONTROL "", IDC_ACT4CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 85, 29, 13, 0
 CONTROL "", IDC_ACT4SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 85, 20, 13, 0
 CONTROL "", IDC_ACT4RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 85, 18, 14, 0
 CONTROL "", IDC_ACT4BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 85, 16, 13, 0
 CONTROL "", IDC_ACT4BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 85, 31, 13, 0
 CONTROL "", IDC_ACT4BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 85, 24, 13, 0
 CONTROL "", IDC_ACT4IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 85, 25, 13, 0
 CONTROL "", IDC_ACT5DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 98, 31, 13, 0
 CONTROL "", IDC_ACT5TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 98, 31, 13
 CONTROL "", IDC_ACT5MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 98, 29, 13, 0
 CONTROL "", IDC_ACT5AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 98, 24, 13, 0
 CONTROL "", IDC_ACT5CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 98, 29, 13, 0
 CONTROL "", IDC_ACT5SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 98, 20, 13, 0
 CONTROL "", IDC_ACT5RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 98, 18, 13, 0
 CONTROL "", IDC_ACT5BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 98, 16, 14, 0
 CONTROL "", IDC_ACT5BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 98, 31, 13, 0
 CONTROL "", IDC_ACT5BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 98, 24, 13, 0
 CONTROL "", IDC_ACT5IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 98, 25, 13, 0
 CONTROL "", IDC_ACT6DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 111, 31, 13, 0
 CONTROL "", IDC_ACT6TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 111, 31, 13
 CONTROL "", IDC_ACT6MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 111, 29, 13, 0
 CONTROL "", IDC_ACT6AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 111, 24, 13, 0
 CONTROL "", IDC_ACT6CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 111, 29, 13, 0
 CONTROL "", IDC_ACT6SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 111, 20, 13, 0
 CONTROL "", IDC_ACT6RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 111, 18, 13, 0
 CONTROL "", IDC_ACT6BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 111, 16, 13, 0
 CONTROL "", IDC_ACT6BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 111, 31, 13, 0
 CONTROL "", IDC_ACT6BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 111, 24, 13, 0
 CONTROL "", IDC_ACT6IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 111, 25, 13, 0
 CONTROL "", IDC_ACT7DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 124, 31, 13, 0
 CONTROL "", IDC_ACT7TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 124, 31, 13
 CONTROL "", IDC_ACT7MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 124, 29, 13, 0
 CONTROL "", IDC_ACT7AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 124, 24, 13, 0
 CONTROL "", IDC_ACT7CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 124, 29, 13, 0
 CONTROL "", IDC_ACT7SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 124, 20, 13, 0
 CONTROL "", IDC_ACT7RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 124, 18, 14, 0
 CONTROL "", IDC_ACT7BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 124, 16, 14, 0
 CONTROL "", IDC_ACT7BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 124, 31, 13, 0
 CONTROL "", IDC_ACT7BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 124, 24, 13, 0
 CONTROL "", IDC_ACT7IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 124, 25, 13, 0
 CONTROL "", IDC_ACT8DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 137, 31, 13, 0
 CONTROL "", IDC_ACT8TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 137, 31, 13
 CONTROL "", IDC_ACT8MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 137, 29, 13, 0
 CONTROL "", IDC_ACT8AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 137, 24, 13, 0
 CONTROL "", IDC_ACT8CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 137, 29, 13, 0
 CONTROL "", IDC_ACT8SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 137, 20, 13, 0
 CONTROL "", IDC_ACT8RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 137, 18, 13, 0
 CONTROL "", IDC_ACT8BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 137, 16, 13, 0
 CONTROL "", IDC_ACT8BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 137, 31, 13, 0
 CONTROL "", IDC_ACT8BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 137, 24, 13, 0
 CONTROL "", IDC_ACT8IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 137, 25, 13, 0
 CONTROL "", IDC_ACT9DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 150, 31, 13, 0
 CONTROL "", IDC_ACT9TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 150, 31, 13
 CONTROL "", IDC_ACT9MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 150, 29, 13, 0
 CONTROL "", IDC_ACT9AMT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 150, 24, 13, 0
 CONTROL "", IDC_ACT9CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 150, 29, 13, 0
 CONTROL "", IDC_ACT9SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 150, 20, 13, 0
 CONTROL "", IDC_ACT9RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 150, 18, 13, 0
 CONTROL "", IDC_ACT9BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 150, 16, 13, 0
 CONTROL "", IDC_ACT9BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 150, 31, 13, 0
 CONTROL "", IDC_ACT9BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 150, 24, 13, 0
 CONTROL "", IDC_ACT9IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 150, 25, 13, 0
 CONTROL "", IDC_ACT10DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 163, 31, 13, 0
 CONTROL "", IDC_ACT10TIME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 32, 163, 31, 13
 CONTROL "", IDC_ACT10MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 62, 163, 29, 13, 0
 CONTROL "", IDC_ACT10AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 91, 163, 24, 13, 0
 CONTROL "", IDC_ACT10CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115, 163, 29, 13, 0
 CONTROL "", IDC_ACT10SIC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 144, 163, 20, 13, 0
 CONTROL "", IDC_ACT10RC, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 164, 163, 18, 13, 0
 CONTROL "", IDC_ACT10BV, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 182, 163, 16, 13, 0
 CONTROL "", IDC_ACT10BVDT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 198, 163, 31, 13, 0
 CONTROL "", IDC_ACT10BVBAL, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 163, 24, 13, 0
 CONTROL "", IDC_ACT10IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 253, 163, 25, 13, 0
 CONTROL "", IDC_CK1DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 301, 46, 31, 13, 0
 CONTROL "", IDC_CK1MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 46, 29, 13, 0
 CONTROL "", IDC_CK1AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 361, 46, 34, 13, 0
 CONTROL "", IDC_CK1CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 395, 46, 28, 13, 0
 CONTROL "", IDC_CK1TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 423, 46, 17, 13, 0
 CONTROL "", IDC_CK1IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 46, 25, 13, 0
 CONTROL "", IDC_CK2DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 301, 59, 31, 14, 0
 CONTROL "", IDC_CK2MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 59, 29, 14, 0
 CONTROL "", IDC_CK2AMT, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 361, 59, 34, 14, 0
 CONTROL "", IDC_CK2CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 395, 59, 28, 14, 0
 CONTROL "", IDC_CK2TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 423, 59, 17, 14, 0
 CONTROL "", IDC_CK2IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 59, 25, 13, 0
 CONTROL "", IDC_CK3DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 301, 72, 31, 13, 0
 CONTROL "", IDC_CK3MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 72, 29, 13, 0
 CONTROL "", IDC_CK3AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 361, 72, 34, 13, 0
 CONTROL "", IDC_CK3CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 395, 72, 28, 13, 0
 CONTROL "", IDC_CK3TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 423, 72, 17, 13, 0
 CONTROL "", IDC_CK3IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 72, 25, 13, 0
 CONTROL "", IDC_CK4DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 301, 85, 31, 13, 0
 CONTROL "", IDC_CK4MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 85, 29, 13, 0
 CONTROL "", IDC_CK4AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 361, 85, 34, 13, 0
 CONTROL "", IDC_CK4CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 395, 85, 28, 13, 0
 CONTROL "", IDC_CK4TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 423, 85, 17, 13, 0
 CONTROL "", IDC_CK4IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 85, 25, 13, 0
 CONTROL "", IDC_CK5DATE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 301, 98, 31, 13, 0
 CONTROL "", IDC_CK5MERCH, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 332, 98, 29, 13, 0
 CONTROL "", IDC_CK5AMT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 361, 98, 34, 13, 0
 CONTROL "", IDC_CK5CKNUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 395, 98, 28, 13, 0
 CONTROL "", IDC_CK5TYPE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 423, 98, 17, 13, 0
 CONTROL "", IDC_CK5IDS, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 440, 98, 25, 13, 0
 CONTROL "Date   Time      Merch    Amt      Cknum   SIC     RC     BVS  BVDT    BVBAL", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 16, 33, 263, 11, 0
 CONTROL "Date         Merch    Amount    Cknum  Type", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 302, 34, 139, 10, 0
 CONTROL "Activity", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 1, 23, 27, 9, 0
 CONTROL "Checks", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 303, 25, 24, 9, 0
 CONTROL "Kenwood Rcode", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 4, 57, 12, 0
 CONTROL "Text", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 86, 4, 17, 13, 0
 CONTROL "IDS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 258, 33, 17, 13, 0
 CONTROL "IDS", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 444, 33, 17, 13, 0
 CONTROL "Mother's Name", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 305, 128, 48, 8
 CONTROL "", IDC_MOTHERSNAME, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 355, 125, 112, 13
}

