//----------------------------------------------------------------------------
//  Project NetMon
//  Secure Payment Systems
//  Copyright © 1997. All Rights Reserved.
//
//  SUBSYSTEM:  NetMon Application
//  FILE:     netmonapp.rc
//  AUTHOR:     Jack H. Ely
//
//  OVERVIEW
//  ~~~~~~~~
//  All resources defined here.
//
//----------------------------------------------------------------------------

#if !defined(WORKSHOP_INVOKED)
# include <windows.h>
#endif
#include "netmonapp.rh"


IDM_SDI MENU 
{
 POPUP "&File"
 {
  MENUITEM "&Save", CM_FILESAVE
  MENUITEM "S&uspend Host", CM_SUSPENDHOST, GRAYED
  MENUITEM "Re-&Activate Host", CM_ACTIVATEHOST, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "E&xit\tAlt+F4", CM_EXIT
 }

 MENUITEM SEPARATOR
 POPUP "&Help"
 {
  MENUITEM "&About...", CM_HELPABOUT
 }

}


// Table of help hints displayed in the status bar.
//
STRINGTABLE 
{
 -1, "File/document operations"
 CM_EXIT, "Quits NetMon and prompts to save the documents"
 CM_HELPABOUT -1, "Access About"
 CM_HELPABOUT, "About the NetMon application"
 CM_ADDHOST, "Add a new Host"
 CM_DELETEHOST, "Delete a Host from the List"
 CM_SUSPENDHOST, "Suspend Host Probe"
 CM_ACTIVATEHOST, "Re-Activate suspended Host"
 CM_FILESAVE, "Save Changes"
}


//
// OWL string table
//

// EditFile (include/owl/editfile.rc and include/owl/editsear.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_CANNOTFIND,       "Cannot find ""%s""."
  IDS_UNTITLED,         "Document"
  IDS_UNABLEREAD,       "Unable to read file %s from disk."
  IDS_UNABLEWRITE,      "Unable to write file %s to disk."
  IDS_FILECHANGED,      "The text in the %s file has changed.\n\nDo you want to save the changes?"
  IDS_FILEFILTER,       "Text files|*.txt|AllFiles|*.*|"
END


// Exception string resources (include/owl/except.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_OWLEXCEPTION,     "ObjectWindows Exception"
  IDS_UNHANDLEDXMSG,    "Unhandled Exception"
  IDS_OKTORESUME,       "OK to resume?"
  IDS_UNKNOWNEXCEPTION, "Unknown exception"

  IDS_UNKNOWNERROR,     "Unknown error"
  IDS_NOAPP,            "No application object"
  IDS_OUTOFMEMORY,      "Out of memory"
  IDS_INVALIDMODULE,    "Invalid module specified for window"
  IDS_INVALIDMAINWINDOW,"Invalid MainWindow"
  IDS_VBXLIBRARYFAIL,   "VBX Library init failure"

  IDS_INVALIDWINDOW,    "Invalid window %s"
  IDS_INVALIDCHILDWINDOW,"Invalid child window %s"
  IDS_INVALIDCLIENTWINDOW,"Invalid client window %s"

  IDS_CLASSREGISTERFAIL,"Class registration fail for window %s"
  IDS_CHILDREGISTERFAIL,"Child class registration fail for window %s"
  IDS_WINDOWCREATEFAIL, "Create fail for window %s"
  IDS_WINDOWEXECUTEFAIL,"Execute fail for window %s"
  IDS_CHILDCREATEFAIL,  "Child create fail for window %s"

  IDS_MENUFAILURE,      "Menu creation failure"
  IDS_VALIDATORSYNTAX,  "Validator syntax error"
  IDS_PRINTERERROR,     "Printer error"

  IDS_LAYOUTINCOMPLETE, "Incomplete layout constraints specified in window %s"
  IDS_LAYOUTBADRELWIN,  "Invalid relative window specified in layout constraint in window %s"

  IDS_GDIFAILURE,       "GDI failure"
  IDS_GDIALLOCFAIL,     "GDI allocate failure"
  IDS_GDICREATEFAIL,    "GDI creation failure"
  IDS_GDIRESLOADFAIL,   "GDI resource load failure"
  IDS_GDIFILEREADFAIL,  "GDI file read failure"
  IDS_GDIDELETEFAIL,    "GDI object %X delete failure"
  IDS_GDIDESTROYFAIL,   "GDI object %X destroy failure"
  IDS_INVALIDDIBHANDLE, "Invalid DIB handle %X"
END


// General Window's status bar messages. (include/owl/statusba.rc)
//
STRINGTABLE
BEGIN
  IDS_MODES             "EXT|CAPS|NUM|SCRL|OVR|REC"
  IDS_MODESOFF          "   |  |   |  |   |   "
  SC_SIZE,              "Changes the size of the window"
  SC_MOVE,              "Moves the window to another position"
  SC_MINIMIZE,          "Reduces the window to an icon"
  SC_MAXIMIZE,          "Enlarges the window to it maximum size"
  SC_RESTORE,           "Restores the window to its previous size"
  SC_CLOSE,             "Closes the window"
  SC_TASKLIST,          "Opens task list"
  SC_NEXTWINDOW,        "Switches to next window"
END


// Validator messages (include/owl/validate.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_VALPXPCONFORM     "Input does not conform to picture:\n""%s"""
  IDS_VALINVALIDCHAR    "Invalid character in input"
  IDS_VALNOTINRANGE     "Value is not in the range %ld to %ld."
  IDS_VALNOTINLIST      "Input is not in valid-list"
END


//
// Misc application definitions
//

// Application ICON
//
IDI_SDIAPPLICATION ICON "Net.ico"


// Client Dialog
//
IDD_CLIENT DIALOG 6, 14, 273, 257
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Dialog Client"
FONT 8, "MS Sans Serif"
{
 CONTROL "Host Name ", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 12, 37, 9
 CONTROL "Probe Interval (Seconds)", 102, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 100, 5, 49, 18
 CONTROL "Status", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 155, 13, 48, 9
 CONTROL "", 104, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 27, 83, 13
 CONTROL "", 105, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 27, 28, 13
 CONTROL "", 106, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 27, 116, 13
 CONTROL "", 107, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 42, 83, 13
 CONTROL "", 108, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 57, 83, 13
 CONTROL "", 109, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 72, 83, 13
 CONTROL "", 110, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 87, 83, 13
 CONTROL "", 111, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 102, 83, 13
 CONTROL "", 112, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 117, 83, 13
 CONTROL "", 113, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 132, 83, 13
 CONTROL "", 114, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 147, 83, 13
 CONTROL "", 115, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 162, 83, 13
 CONTROL "", 116, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 177, 83, 13
 CONTROL "", 117, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 192, 83, 13
 CONTROL "", 118, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 207, 83, 13
 CONTROL "", 119, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 222, 83, 13
 CONTROL "", 120, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 4, 237, 83, 13
 CONTROL "", 121, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 42, 28, 13
 CONTROL "", 122, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 57, 28, 13
 CONTROL "", 123, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 72, 28, 13
 CONTROL "", 124, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 87, 28, 13
 CONTROL "", 125, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 102, 28, 13
 CONTROL "", 126, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 117, 28, 13
 CONTROL "", 127, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 132, 28, 13
 CONTROL "", 128, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 147, 28, 13
 CONTROL "", 129, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 162, 28, 13
 CONTROL "", 130, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 177, 28, 13
 CONTROL "", 131, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 192, 28, 13
 CONTROL "", 132, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 207, 28, 13
 CONTROL "", 133, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 222, 28, 13
 CONTROL "", 134, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 100, 237, 28, 13
 CONTROL "", 135, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 42, 116, 13
 CONTROL "", 136, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 57, 116, 13
 CONTROL "", 137, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 72, 116, 13
 CONTROL "", 138, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 87, 116, 13
 CONTROL "", 139, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 102, 116, 13
 CONTROL "", 140, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 117, 116, 13
 CONTROL "", 141, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 132, 116, 13
 CONTROL "", 142, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 147, 116, 13
 CONTROL "", 143, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 162, 116, 13
 CONTROL "", 144, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 177, 116, 13
 CONTROL "", 145, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 192, 116, 13
 CONTROL "", 146, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 207, 116, 13
 CONTROL "", 147, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 222, 116, 13
 CONTROL "", 148, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 151, 237, 116, 13
}


// About box.
//
IDD_ABOUT DIALOG 12, 17, 204, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About NetMon"
FONT 8, "MS Sans Serif"
BEGIN
  CTEXT "Version", IDC_VERSION, 2, 14, 200, 8, SS_NOPREFIX
  CTEXT "Network Monitor", -1, 2, 4, 200, 8, SS_NOPREFIX
  CTEXT "", IDC_COPYRIGHT, 2, 27, 200, 17, SS_NOPREFIX
  RTEXT "", IDC_DEBUG, 136, 55, 66, 8, SS_NOPREFIX
  ICON IDI_SDIAPPLICATION, -1, 2, 2, 34, 34
  DEFPUSHBUTTON "OK", IDOK, 82, 48, 40, 14
END


// Version info.
//
#if !defined(__DEBUG_)

// Non-Debug VERSIONINFO
//
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0
FILEFLAGS VS_FFI_FILEFLAGSMASK
#if defined(BI_PLAT_WIN32)
FILEOS VOS__WINDOWS32
#else
FILEOS VOS__WINDOWS16
#endif
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // Language type = U.S. English(0x0409) and Character Set = Windows, Multilingual(0x04e4)
    BLOCK "040904E4"              // Matches VarFileInfo Translation hex value.
    BEGIN
      VALUE "CompanyName", "Secure Payment Systems\000"
      VALUE "FileDescription", "NetMon for Windows\000"
      VALUE "FileVersion", "1.0\000"
      VALUE "InternalName", "NetMon\000"
      VALUE "LegalCopyright", "Copyright © 1997. All Rights Reserved.\000"
      VALUE "LegalTrademarks", "Windows(TM) is a trademark of Microsoft Corporation\000"
      VALUE "OriginalFilename", "NetMon.exe\000"
      VALUE "ProductName", "NetMon\000"
      VALUE "ProductVersion", "1.0\000"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04e4    // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
  END
END

#else

// Debug VERSIONINFO
//
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD
FILEFLAGS VS_FFI_FILEFLAGSMASK
#if defined(BI_PLAT_WIN32)
FILEOS VOS__WINDOWS32
#else
FILEOS VOS__WINDOWS16
#endif
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // Language type = U.S. English(0x0409) and Character Set = Windows, Multilingual(0x04e4)
    BLOCK "040904E4"              // Matches VarFileInfo Translation hex value.
    BEGIN
      VALUE "CompanyName", "Secure Payment Systems\000"
      VALUE "FileDescription", "NetMon for Windows\000"
      VALUE "FileVersion", "1.0\000"
      VALUE "InternalName", "NetMon\000"
      VALUE "LegalCopyright", "Copyright © 1997. All Rights Reserved.\000"
      VALUE "LegalTrademarks", "Windows(TM) is a trademark of Microsoft Corporation\000"
      VALUE "OriginalFilename", "NetMon.exe\000"
      VALUE "ProductName", "NetMon\000"
      VALUE "ProductVersion", "1.0\000"
      VALUE "SpecialBuild", "Debug Version\000"
      VALUE "PrivateBuild", "Built by Jack H. Ely\000"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04e4    // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
  END
END

#endif
