//----------------------------------------------------------------------------
//  Project PosFileMan
//  Secure Payment Systems
//  Copyright © 1997. All Rights Reserved.
//
//  SUBSYSTEM:  PosFileMan Application
//  FILE:     posfilemanapp.rc
//  AUTHOR:     Jack Ely
//
//  OVERVIEW
//  ~~~~~~~~
//  All resources defined here.
//
//----------------------------------------------------------------------------

#if !defined(WORKSHOP_INVOKED)
# include <windows.h>
#endif
#include "posfilemanapp.rh"


IDM_SDI MENU 
{
 POPUP "&File"
 {
  MENUITEM SEPARATOR
  MENUITEM "&Get Record", CM_GETRECORD, GRAYED
  MENUITEM SEPARATOR
  MENUITEM "&Save Change", CM_FILECHANGE
  MENUITEM "&Add", CM_FILEADD
  MENUITEM "&Delete", CM_FILEDELETE
  MENUITEM SEPARATOR
  MENUITEM "E&xit\tAlt+F4", CM_EXIT
 }

 POPUP "&View"
 {
  MENUITEM "&Bank Phone File", CM_VIEWBANKPHONE
  MENUITEM "&Positive File", CM_VIEWPOSITIVE
 }

 MENUITEM SEPARATOR
 POPUP "&Edit"
 {
  MENUITEM "Clear &All", CM_EDITCLEARALL, GRAYED
 }

 MENUITEM SEPARATOR
 POPUP "&Help"
 {
  MENUITEM "&About...", CM_HELPABOUT
 }

}


// Table of help hints displayed in the status bar.
//
STRINGTABLE 
{
 -1, "File/document operations"
 CM_EXIT, "Quits Positive File Manager"
 24326, "Clears all Data from Window"
 CM_HELPABOUT -1, "Access About"
 CM_HELPABOUT, "About the PosFileMan application"
 CM_GETRECORD, "Read Positive File Record"
 CM_FILECHANGE, "Save Changes to this record"
 CM_FILEADD, "Add this record to the Positive File"
 CM_FILEDELETE, "Delete this record from the positive file"
 CM_COPYVOICEAUTH, "Copy Data From VOICEAUTH"
 CM_COPYLOGSEARCH, "Copy Data from LOGSEARCH"
 CM_EDITCLEARALL, "Clear All Data from Window"
 1, "Select the Positive File"
 2, "Select the Bank Phone File"
 CM_VIEWBANKPHONE, "Select the Bank Phone File"
 CM_VIEWPOSITIVE, "Select the Positive File"
}


//
// OWL string table
//

// EditFile (include/owl/editfile.rc and include/owl/editsear.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_CANNOTFIND,       "Cannot find ""%s""."
  IDS_UNTITLED,         "Document"
  IDS_UNABLEREAD,       "Unable to read file %s from disk."
  IDS_UNABLEWRITE,      "Unable to write file %s to disk."
  IDS_FILECHANGED,      "The text in the %s file has changed.\n\nDo you want to save the changes?"
  IDS_FILEFILTER,       "Text files|*.txt|AllFiles|*.*|"
END


// Exception string resources (include/owl/except.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_OWLEXCEPTION,     "ObjectWindows Exception"
  IDS_UNHANDLEDXMSG,    "Unhandled Exception"
  IDS_OKTORESUME,       "OK to resume?"
  IDS_UNKNOWNEXCEPTION, "Unknown exception"

  IDS_UNKNOWNERROR,     "Unknown error"
  IDS_NOAPP,            "No application object"
  IDS_OUTOFMEMORY,      "Out of memory"
  IDS_INVALIDMODULE,    "Invalid module specified for window"
  IDS_INVALIDMAINWINDOW,"Invalid MainWindow"
  IDS_VBXLIBRARYFAIL,   "VBX Library init failure"

  IDS_INVALIDWINDOW,    "Invalid window %s"
  IDS_INVALIDCHILDWINDOW,"Invalid child window %s"
  IDS_INVALIDCLIENTWINDOW,"Invalid client window %s"

  IDS_CLASSREGISTERFAIL,"Class registration fail for window %s"
  IDS_CHILDREGISTERFAIL,"Child class registration fail for window %s"
  IDS_WINDOWCREATEFAIL, "Create fail for window %s"
  IDS_WINDOWEXECUTEFAIL,"Execute fail for window %s"
  IDS_CHILDCREATEFAIL,  "Child create fail for window %s"

  IDS_MENUFAILURE,      "Menu creation failure"
  IDS_VALIDATORSYNTAX,  "Validator syntax error"
  IDS_PRINTERERROR,     "Printer error"

  IDS_LAYOUTINCOMPLETE, "Incomplete layout constraints specified in window %s"
  IDS_LAYOUTBADRELWIN,  "Invalid relative window specified in layout constraint in window %s"

  IDS_GDIFAILURE,       "GDI failure"
  IDS_GDIALLOCFAIL,     "GDI allocate failure"
  IDS_GDICREATEFAIL,    "GDI creation failure"
  IDS_GDIRESLOADFAIL,   "GDI resource load failure"
  IDS_GDIFILEREADFAIL,  "GDI file read failure"
  IDS_GDIDELETEFAIL,    "GDI object %X delete failure"
  IDS_GDIDESTROYFAIL,   "GDI object %X destroy failure"
  IDS_INVALIDDIBHANDLE, "Invalid DIB handle %X"
END


// General Window's status bar messages. (include/owl/statusba.rc)
//
STRINGTABLE
BEGIN
  IDS_MODES             "EXT|CAPS|NUM|SCRL|OVR|REC"
  IDS_MODESOFF          "   |  |   |  |   |   "
  SC_SIZE,              "Changes the size of the window"
  SC_MOVE,              "Moves the window to another position"
  SC_MINIMIZE,          "Reduces the window to an icon"
  SC_MAXIMIZE,          "Enlarges the window to it maximum size"
  SC_RESTORE,           "Restores the window to its previous size"
  SC_CLOSE,             "Closes the window"
  SC_TASKLIST,          "Opens task list"
  SC_NEXTWINDOW,        "Switches to next window"
END


// Validator messages (include/owl/validate.rc)
//
STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  IDS_VALPXPCONFORM     "Input does not conform to picture:\n""%s"""
  IDS_VALINVALIDCHAR    "Invalid character in input"
  IDS_VALNOTINRANGE     "Value is not in the range %ld to %ld."
  IDS_VALNOTINLIST      "Input is not in valid-list"
END

//
// Misc application definitions
//

// Application ICON
//
IDI_SDIAPPLICATION ICON "applsdi.ico"


// Client Dialog
//
IDD_POSFILE DIALOG 4, 24, 330, 221
STYLE WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "", IDC_BANKNUMBER, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 11, 42, 13, 0
 CONTROL "", IDC_BANKACCOUNT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 11, 75, 13, 0
 CONTROL "", IDC_LICENSESTATE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 193, 11, 20, 14, 0
 CONTROL "", IDC_LICENSE, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 215, 11, 107, 14, 0
 CONTROL "", IDC_PHONE, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 38, 27, 46, 14, 0
 CONTROL "", IDC_CONSUMERNAME, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 54, 59, 154, 13, 0
 CONTROL "", IDC_BUSINESSNAME, "edit", ES_LEFT | ES_AUTOHSCROLL | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 54, 80, 154, 14, 0
 CONTROL "", IDC_DOB, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 258, 59, 29, 13, 0
 CONTROL "", IDC_OVERRIDESALLOWED, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 30, 125, 13, 13, 0
 CONTROL "", IDC_OVERRIDEDAYS, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 92, 125, 13, 13, 0
 CONTROL "", IDC_MAXOVERRIDEAMOUNT, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 88, 145, 25, 13, 0
 CONTROL "", IDC_MAXOVERRIDEACCUM, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 94, 162, 25, 13, 0
 CONTROL "", IDC_ACCOUNT1, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 74, 181, 27, 13, 0
 CONTROL "", IDC_ACCOUNT2, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 103, 181, 27, 13, 0
 CONTROL "", IDC_ACCOUNT3, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 181, 27, 13, 0
 CONTROL "", IDC_SIC1, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 199, 22, 13, 0
 CONTROL "", IDC_SIC2, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 108, 199, 22, 13, 0
 CONTROL "", IDC_SIC3, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 132, 199, 22, 13, 0
 CONTROL "Bank Account", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 9, 30, 18, 0
 CONTROL "Drivers License", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 163, 9, 29, 18, 0
 CONTROL "Date Of Birth", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 225, 56, 31, 20, 0
 CONTROL "Consumer Name", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 56, 34, 17, 0
 CONTROL "Business Name", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 20, 78, 33, 18, 0
 CONTROL "Frame3", 107, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 3, 325, 41, 0
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 51, 326, 54, 0
 CONTROL "Allow", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 125, 20, 13, 0
 CONTROL "Overrides in", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 48, 125, 39, 13, 0
 CONTROL "days.", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 113, 125, 20, 13, 0
 CONTROL "Max Override Amount =", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 145, 76, 13, 0
 CONTROL "Accumulative Overrides =", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 164, 82, 14, 0
 CONTROL "Restrict to Accounts", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 181, 64, 13, 0
 CONTROL "Restrict to SIC Codes", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 201, 71, 12, 0
 CONTROL "Date Added", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 218, 129, 41, 13, 0
 CONTROL "Last Approval", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 213, 145, 48, 12, 0
 CONTROL "Approved Transactions", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 186, 162, 78, 13, 0
 CONTROL "Approved Dollars", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 206, 178, 58, 14, 0
 CONTROL "", IDC_DATEADDED, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 268, 129, 36, 13, 0
 CONTROL "", IDC_DATELASTAPPROVAL, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 268, 145, 36, 13, 0
 CONTROL "", IDC_APPROVEDTRANSACTIONS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 268, 162, 21, 13, 0
 CONTROL "", IDC_APPROVEDDOLLARS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER, 268, 178, 38, 13, 0
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 2, 109, 165, 108, 0
 CONTROL " Optional Parameters", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 18, 106, 69, 13, 0
 CONTROL " Optional Data", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 47, 50, 9, 0
 CONTROL " ID (one required)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 26, 0, 59, 9, 0
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 176, 109, 152, 108, 0
 CONTROL " History", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 194, 106, 28, 13, 0
 CONTROL "Phone   ", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 30, 25, 12, 0
}


// About box.
//
IDD_ABOUT DIALOG 12, 17, 204, 65
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About SPS File "
FONT 8, "MS Sans Serif"
{
 CONTROL "Version", IDC_VERSION, "STATIC", SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 14, 200, 8
 CONTROL "SPS File", -1, "STATIC", SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 4, 200, 8
 CONTROL "", IDC_COPYRIGHT, "STATIC", SS_CENTER | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 2, 27, 200, 17
 CONTROL "", IDC_DEBUG, "STATIC", SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 136, 55, 66, 8
 CONTROL IDI_SDIAPPLICATION, -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 2, 2, 34, 34
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 82, 48, 40, 14
}


// Version info.
//
#if !defined(__DEBUG_)

// Non-Debug VERSIONINFO
//
1 VERSIONINFO 
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK 0
FILEFLAGS VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS16
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Secure Payment Systems\000"
   VALUE "FileDescription", "SPSFile for Windows\000"
   VALUE "FileVersion", "1.0\000"
   VALUE "InternalName", "SPSFile\000"
   VALUE "LegalCopyright", "Copyright © 1997. All Rights Reserved.\000"
   VALUE "LegalTrademarks", "Windows(TM) is a trademark of Microsoft Corporation\000"
   VALUE "OriginalFilename", "SPSFile.exe\000"
   VALUE "ProductName", "SPSFile\000"
   VALUE "ProductVersion", "1.0\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x0409, 0x04e4
 }

}


IDB_LOGSEARCH BITMAP 
{
'42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
'00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
'00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
'00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
'00 00 FF FF FF 00 00 00 00 00 00 00 00 07 77 00'
'00 00 0F FB BF FF BB FF 00 F7 07 70 00 00 0B BF'
'F8 00 00 BB 07 70 07 70 00 00 0F FB 70 87 88 00'
'7F 00 07 70 00 00 0F 70 BB BB B0 77 70 BF 00 77'
'00 00 0B 0F FB BB BB 00 00 FB 00 07 00 00 00 70'
'00 BB FF B0 70 FB 00 07 00 00 00 FB BF FF BB FB'
'78 BF 00 07 00 00 00 BF FB 0B FF BB 07 FB 00 07'
'00 00 03 22 AF F0 00 00 07 FB 00 07 00 00 00 2A'
'FF FF BB FF 08 BF 00 07 00 00 00 AF FF FF FB FF'
'08 BF 00 07 00 00 03 0F FF FF FF BB 00 FB 00 07'
'00 00 08 FF FF FF FB FF 07 BF 00 07 00 00 07 80'
'DF FF B0 07 7F FB B0 07 00 00 00 38 DD DB 0F B0'
'00 00 00 07 00 00 00 07 78 33 00 00 00 00 0F 00'
'00 00 00 F0 87 88 87 BB BF FB BB 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00'
}

IDB_VOICEAUTH BITMAP 
{
'42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
'00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
'00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
'00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
'00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
'00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
'00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
'00 00 FF FF FF 00 05 FF FF FF FF F7 77 77 00 00'
'00 00 00 50 88 88 88 88 88 FF 00 00 00 00 01 95'
'FF F7 77 77 FF FF 00 00 00 00 00 59 08 88 88 88'
'88 FF 00 00 00 00 01 59 90 88 88 88 88 FF 00 00'
'00 00 00 95 90 77 77 FF FF FF 00 00 00 00 01 95'
'90 77 7F FF FF FF 00 00 00 00 00 59 90 08 88 88'
'88 FF DD 90 00 00 00 95 90 F0 FF F0 00 FF 09 D0'
'00 00 00 95 90 F0 0F FF FF FF F0 D0 00 00 00 59'
'90 88 00 00 FF FF F0 90 00 00 00 59 90 88 00 D0'
'FF FF F0 90 00 00 00 95 90 FF 08 00 FF FF F0 00'
'00 00 00 BB BB 0B BF 8D FF BB BB 00 00 00 0B 00'
'9B 0B B0 0F D0 B0 0B B0 00 00 00 00 9B 0B B0 00'
'0D 00 0B B0 00 00 00 BB 00 0B B0 0B 00 BB B0 00'
'00 00 0B 00 00 0B B0 00 B0 BD 00 00 00 00 0B 00'
'0B 0B B0 00 B0 B0 0B B0 00 00 00 BB BB 0B BB BB'
'00 BB BB 00 00 00'
}

IDB_GETRECORD BITMAP 
{
 '42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 99 98 98 99 99 88 89 98 88 00 00 89 98'
 '89 98 99 88 88 89 98 88 00 00 89 98 89 98 99 88'
 '88 89 98 88 00 00 89 98 89 98 99 88 88 89 98 88'
 '00 00 89 98 99 98 99 99 88 89 98 88 00 00 89 98'
 '88 88 99 88 88 89 98 88 00 00 89 98 89 98 99 88'
 '88 89 98 88 00 00 89 98 89 98 99 88 88 89 98 88'
 '00 00 88 99 99 88 99 99 89 99 99 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00'
}

IDB_FILECHANGE BITMAP 
{
 '42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 89 99 98 89 98 89 98 89 99 89 00 00 99 88'
 '99 89 98 89 98 99 88 99 00 00 99 88 99 89 98 89'
 '98 99 88 99 00 00 99 88 99 89 98 89 98 99 88 99'
 '00 00 99 88 88 89 99 99 98 99 89 99 00 00 99 88'
 '99 89 98 89 98 99 88 88 00 00 99 88 99 89 98 89'
 '98 99 88 99 00 00 99 88 99 89 98 89 98 99 88 99'
 '00 00 89 99 98 89 98 89 98 89 99 98 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00'
}


IDB_FILEADD BITMAP 
{
 '42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 89 98 99 89 99 99 98 99 99 99 00 00 89 98'
 '99 89 98 89 98 99 88 99 00 00 89 99 99 89 98 89'
 '98 99 88 99 00 00 89 98 99 89 98 89 98 99 88 99'
 '00 00 89 98 99 89 98 89 98 99 88 99 00 00 89 98'
 '99 89 98 89 98 99 88 99 00 00 89 98 99 89 98 89'
 '98 99 88 99 00 00 89 98 99 89 98 89 98 99 88 99'
 '00 00 89 99 99 89 99 99 88 99 99 98 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00'
}


IDB_FILEDELETE BITMAP 
{
 '42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 99 99 99 89 99 98 99 99 88 00 00 88 99'
 '88 99 89 98 88 99 88 88 00 00 88 99 88 99 89 98'
 '88 99 88 88 00 00 88 99 88 99 89 98 88 99 88 88'
 '00 00 88 99 88 99 89 99 98 99 88 88 00 00 88 99'
 '88 99 89 98 88 99 88 88 00 00 88 99 88 99 89 98'
 '88 99 88 88 00 00 88 99 88 99 89 98 88 99 88 88'
 '00 00 88 99 99 98 89 99 98 99 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00'
}

IDB_EDITCLEAR BITMAP 
{
 '42 4D 66 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 14 00 00 00 14 00 00 00 01 00 04 00 00 00'
 '00 00 F0 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 99 99 88 99 99 89 98 99 88 00 00 89 98'
 '89 98 99 88 89 98 99 88 00 00 89 98 89 98 99 88'
 '89 98 99 88 00 00 89 98 89 98 99 88 89 98 99 88'
 '00 00 89 98 88 88 99 88 89 99 98 88 00 00 89 98'
 '89 98 99 88 89 98 99 88 00 00 89 98 89 98 99 88'
 '89 98 99 88 00 00 89 98 89 98 99 88 89 98 99 88'
 '00 00 88 99 99 88 99 88 89 99 98 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00 88 88 88 88 88 88 88 88 88 88'
 '00 00 88 88 88 88 88 88 88 88 88 88 00 00 88 88'
 '88 88 88 88 88 88 88 88 00 00 88 88 88 88 88 88'
 '88 88 88 88 00 00'
}

IDD_BANKPHONE DIALOG 4, 24, 330, 216
STYLE DS_3DLOOK | WS_POPUP
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "Bank Number", 101, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 118, 30, 46, 12, 0
 CONTROL "", IDC_BANKNUMBER, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 168, 29, 42, 13, 0
 CONTROL "Bank Name", 103, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 62, 75, 41, 13, 0
 CONTROL "", IDC_BANKNAME, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 111, 75, 128, 13, 0
 CONTROL "Phone Number", 105, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 57, 96, 50, 13, 0
 CONTROL "", IDC_PHONENUMBER, "edit", ES_LEFT | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 111, 95, 48, 14, 0
 CONTROL "Comment", 107, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 71, 116, 33, 12, 0
 CONTROL "", IDC_COMMENT, "edit", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 111, 116, 152, 13, 0
 CONTROL "Frame1", 109, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 107, 19, 116, 34, 0
 CONTROL "Frame2", 110, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 51, 65, 228, 73, 0
}

IDD_MAIN DIALOG 0, 0, 336, 224
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION ""
FONT 8, "MS Sans Serif"
{
}









#else

// Debug VERSIONINFO
//
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEFLAGSMASK VS_FF_DEBUG | VS_FF_PRERELEASE | VS_FF_PATCHED | VS_FF_PRIVATEBUILD | VS_FF_SPECIALBUILD
FILEFLAGS VS_FFI_FILEFLAGSMASK
#if defined(BI_PLAT_WIN32)
FILEOS VOS__WINDOWS32
#else
FILEOS VOS__WINDOWS16
#endif
FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    // Language type = U.S. English(0x0409) and Character Set = Windows, Multilingual(0x04e4)
    BLOCK "040904E4"              // Matches VarFileInfo Translation hex value.
    BEGIN
      VALUE "CompanyName", "Secure Payment Systems\000"
      VALUE "FileDescription", "PosFileMan for Windows\000"
      VALUE "FileVersion", "1.0\000"
      VALUE "InternalName", "PosFileMan\000"
      VALUE "LegalCopyright", "Copyright © 1997. All Rights Reserved.\000"
      VALUE "LegalTrademarks", "Windows(TM) is a trademark of Microsoft Corporation\000"
      VALUE "OriginalFilename", "PosFileMan.exe\000"
      VALUE "ProductName", "PosFileMan\000"
      VALUE "ProductVersion", "1.0\000"
      VALUE "SpecialBuild", "Debug Version\000"
      VALUE "PrivateBuild", "Built by Jack Ely\000"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04e4    // U.S. English(0x0409) & Windows Multilingual(0x04e4) 1252
  END
END

#endif
